 # Python Fundamentals
 &copy; QuantSprout

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [1]:
print "hello"

hello

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [2]:
type(1)

int

In [3]:
type(2.5)

float

In [4]:
type("sos")

str

In [5]:
type(True)

bool

In [7]:
# 'True'

### String Insertion
Basic string insertions

In [9]:
"My name is {}".format('Ryan')

'My name is Ryan'

In [11]:
"My name is {}".format(123)

'My name is 123'

In [10]:
name='Ryan'
"Where in the world is {}".format(name)

'Where in the world is Ryan'

In [13]:
name="Ryan2"
"Where in the world is {}".format(name)

'Where in the world is Ryan2'

You can insert multiple values into strings but requires labels

In [14]:
place="SF"
"{0} is in {1}".format(name, place)

'Ryan2 is in SF'

Try reversing order of the variables name and place.|

In [15]:
place="SF"
"{1} is in {0}".format(name, place)

'SF is in Ryan2'

In [16]:
place="SF"
"{1} is in {0}".format(place, name)

'Ryan2 is in SF'

In [17]:
#Old way
print "Who is %s" % (name)

Who is Ryan2

### Basic math in python
Some operators are pretty obvious

In [18]:
5 + 5

10

In [19]:
3 * 7

21

But some operators are less intuitive

In [20]:
print "Hello" + " world"

Hello world

In [21]:
10 % 2

0

In [22]:
10 ** 2

100

In [23]:
1E3 + 1E-3

1000.001

Assign values to variables

In [33]:
x=10
y=5
z=4

Use math with variables

In [25]:
x-y

5

In [34]:
x/z

2

Try dividing x by z

In [35]:
z=4.0

In [28]:
x/4.0

2.5

Try dividing x by 4.0

In [32]:
z=4.0
z=float(z)
z=1.0*z
1.0*x/z
x/z

2.5

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [37]:
def simplestFunction():
    print "I made a function"

Call function by name

In [38]:
simplestFunction

In [39]:
simplestFunction()

I made a function

You can create a function that requires an input and returns a result

In [40]:
def square(x):
    return x ** 2

In [42]:
y=4;
square(y)

16

In [43]:
square(5)

25

In [44]:
z=3;square(z)

9

In [45]:
result = square(5)

In [46]:
result

25

In [47]:
def square2(x):
    print x ** 2

In [49]:
result2 = square2(7)

49

In [50]:
result2

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [51]:
numbers=[1,2,3,
         4,5,6,
         7,8,9]
print numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
numbers=[1,2,3,\
         4,5,6,\
         7,8,9]
print numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can also use the backslash

In [53]:
long_str = 'this is a really really really ' \
                 + 'long sentence'
print long_str

this is a really really really long sentence

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [57]:
def c_to_f (c):
    return c*1.8+32
    
c_to_f(30)

86.0

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [60]:
def c_to_f_statement(c):
    print "you inputed Celsius {0:0.02f} and returned Fahrenjeit {1:0.02f}".format(c,c_to_f(c))
c_to_f_statement(30)

you inputed Celsius 30.00 and returned Fahrenjeit 86.00

In [61]:
c_to_f_statement(5)
c_to_f_statement(10)
c_to_f_statement(15)
c_to_f_statement(20)
c_to_f_statement(25)

you inputed Celsius 5.00 and returned Fahrenjeit 41.00
you inputed Celsius 10.00 and returned Fahrenjeit 50.00
you inputed Celsius 15.00 and returned Fahrenjeit 59.00
you inputed Celsius 20.00 and returned Fahrenjeit 68.00
you inputed Celsius 25.00 and returned Fahrenjeit 77.00

In [64]:
def c_to_f_statement2(c):
    print "you inputed Celsius {0:0.02f} and \n        returned Fahrenjeit {1:0.03f}".format(c,c_to_f(c))
c_to_f_statement2(30)

you inputed Celsius 30.00 and
        returned Fahrenjeit 86.000