 # Python Fundamentals
 &copy; QuantSprout

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [1]:
print "Hello Data Science"

Hello Data Science

# This is for Python3

In [2]:
print ("testing")

testing

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [3]:
type(1)

int

In [4]:
type(2.5)

float

In [9]:
type(True)

bool

In [7]:
type('string')

str

In [10]:
type(18083.22)

float

In [11]:
type(23*14)

int

In [12]:
type(23*14.0)

float

In [14]:
type(False)

bool

In [15]:
type('DA'*12)

str

In [16]:
type(1*'A')

str

In [17]:
type('AB'+'CD')

str

In [25]:
name1 ='Ryan'
name2='Brandon'

In [26]:
"Where in the world is {} and {} and ...".format (name1, name2)

'Where in the world is Ryan and Brandon and ...'

In [27]:
"Where in the world is {} and {} and ...".format (name1, name1)

'Where in the world is Ryan and Ryan and ...'

In [28]:
"Where in the world is {} and {} and ...".format (name1)

IndexError: tuple index out of range

### String Insertion
Basic string insertions

In [29]:
place = "SF"
"{0} is in {1}".format(name1, place)

'Ryan is in SF'

In [30]:
"{0} is in {1}".format(place, name1)

'SF is in Ryan'

In [31]:
"{0} is in {1}".format(name1)

IndexError: tuple index out of range

You can insert multiple values into strings but requires labels

Try reversing order of the variables name and place.|

### Basic math in python
Some operators are pretty obvious

In [32]:
5 + 5

10

In [33]:
5+8.0

13.0

In [41]:
10%3 # modulo or remainder

1

In [38]:
10**2  #exponent

100

In [36]:
"abc"+"cde"

'abccde'

In [37]:
1E3 + 1E-3   #exponent base 10

1000.001

In [42]:
10 ^ 2

8

In [43]:
3.14 * 10 + 'agb'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

But some operators are less intuitive

Assign values to variables

In [46]:
x = 10
y = 5
z = 4

Use math with variables

In [47]:
x - y

5

In [48]:
x * y

50

Try dividing x by z

In [49]:
x / z

2

In [52]:
x / z * 1.0

2.0

In [53]:
x * 1.0 / z

2.5

In [54]:
x * 1.000 / z

2.5

Try dividing x by 4.0

In [51]:
x/ 4.0

2.5

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [58]:
def simplest_function():
    print "I made a function  !!"

Call function by name

In [60]:
simplest_function

In [61]:
simplest_function()

I made a function  !!

You can create a function that requires an input and returns a result

In [64]:
def square(x):
    return x ** 2

In [65]:
square(7)

49

In [66]:
square('abc')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [133]:
def square(x):
    if type(x) == int :
        print x ** 2
    elif type(x) == str :
        print -1  #'wrong data type'

In [134]:
square(2)

4

In [135]:
square('x')

-1

In [136]:
help(dir)

Help on built-in function dir in module __builtin__:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [77]:
numbers = [1,2,3,
          4,5,6]

You can also use the backslash

In [81]:
long_string = "this is a really, really " \
                + " long sentence"
print long_string

this is a really, really  long sentence

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [82]:
def C_to_F (c):
    return c * 1.8 + 32

In [83]:
C_to_F(0)

32.0

In [84]:
C_to_F(30)

86.0

In [92]:
C_to_F('abc')

TypeError: can't multiply sequence by non-int of type 'float'

In [126]:
def C_to_F (c):
    if (type(c) == int) | (type(c) == float) :
        return round(c * 1.8 + 32, 2)
    else :
        return -999999

In [128]:
C_to_F (32.4)

90.32

In [127]:
C_to_F (33.3)

91.94

In [129]:
C_to_F (-2.3)

27.86

In [124]:
C_to_F (32)

89.6

In [125]:
C_to_F ('acc')

-999999

In [102]:
type(4.3)

float

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [130]:
def convert_Calsius (c):
    f = C_to_F(c)
    if f == -999999 :
        return "Please input an input or float"
    else :    
        return "Converting Celsius {0} as Fahrenheit => {1}".format (c, f)

In [131]:
print convert_Calsius (30)

Converting Celsius 30 as Fahrenheit => 86.0

In [132]:
print convert_Calsius (1)

Converting Celsius 1 as Fahrenheit => 33.8