# Data Cleaning with Pandas
&copy; QuantSprout

Import pandas

In [1]:
import pandas as pd

Read the combine.csv file as a DataFrame and investigate the contents

In [5]:
data = pd.read_csv('combine.csv')
print data.head()
print "-------------------------"
print data.info()
print "-------------------------"
print data.describe()

   year            name firstname   lastname position  heightfeet  \
0  2015  Ameer Abdullah     Ameer   Abdullah       RB           5
1  2015  Nelson Agholor    Nelson    Agholor       WR           6
2  2015       Jay Ajayi       Jay      Ajayi       RB           6
3  2015  Kwon Alexander      Kwon  Alexander      OLB           6
4  2015    Mario Alford     Mario     Alford       WR           5

   heightinches  heightinchestotal  weight  arms    ...     vertical  broad  \
0           9.0               69.0     205   0.0    ...         42.5    130
1           0.0               72.0     198   0.0    ...          0.0      0
2           0.0               72.0     221   0.0    ...         39.0    121
3           1.0               73.0     227   0.0    ...         36.0    121
4           8.0               68.0     180   0.0    ...         34.0    121

   bench  round        college  pick  pickround  picktotal  wonderlic  \
0     24      0       Nebraska   NaN          0          0          0
1     12      0            USC   NaN          0          0          0
2     19      0      Boise St.   NaN          0          0          0
3     24      0            LSU   NaN          0          0          0
4     13      0  West Virginia   NaN          0          0          0

   nflgrade
0       5.9
1       5.6
2       6.0
3       5.4
4       5.3

[5 rows x 26 columns]
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              3477 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None
-------------------------
              year   heightfeet  heightinches  heightinchestotal       weight  \
count  4947.000000  4947.000000   4947.000000        4947.000000  4947.000000
mean   2007.132201     5.805337      4.371437          74.035476   245.579745
std       5.029664     0.395981      3.279223           2.614778    45.639366
min    1999.000000     5.000000      0.000000          65.000000   155.000000
25%    2003.000000     6.000000      2.000000          73.000000   208.000000
50%    2007.000000     6.000000      4.000000          74.000000   237.000000
75%    2012.000000     6.000000      6.000000          76.000000   289.000000
max    2015.000000     6.000000     11.875000          82.000000   386.000000

              arms        hands      fortyyd     twentyyd        tenyd  \
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      7.640243     2.252426     4.610386     0.073734     0.129149
std      13.801035     4.070448     0.974087     0.432330     0.436941
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     4.530000     0.000000     0.000000
50%       0.000000     0.000000     4.690000     0.000000     0.000000
75%       0.000000     0.000000     4.990000     0.000000     0.000000
max      37.750000    11.375000     6.050000     2.980000     1.920000

          twentyss    threecone     vertical        broad        bench  \
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      3.298106     1.503002    28.741257    95.944006    15.723873
std       1.907526     2.929683    11.596749    41.826340    10.840896
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       3.835000     0.000000    28.000000   101.000000     0.000000
50%       4.240000     0.000000    32.500000   112.000000    18.000000
75%       4.470000     0.000000    35.500000   119.000000    24.000000
max       5.560000     8.310000    46.000000   147.000000    51.000000

             round    pickround    picktotal    wonderlic     nflgrade
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      2.435415    11.318981    71.879523     1.144532     0.700627
std       2.476746    12.262220    79.417514     5.524047     1.813870
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       2.000000     7.000000    42.000000     0.000000     0.000000
75%       5.000000    21.000000   134.000000     0.000000     0.000000
max       8.000000    53.000000   262.000000    48.000000     7.500000

Fill missing values for college with 'No College'

In [6]:
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              3477 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None

In [7]:
data.college.fillna('No College',inplace=True)
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              4947 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None

Remove the players that have null values for the pick

In [8]:
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              4947 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None

In [9]:
data_dropped = data.dropna(subset=['pick'])
print data_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3156 entries, 322 to 4946
Data columns (total 26 columns):
year                 3156 non-null int64
name                 3156 non-null object
firstname            3156 non-null object
lastname             3156 non-null object
position             3156 non-null object
heightfeet           3156 non-null int64
heightinches         3156 non-null float64
heightinchestotal    3156 non-null float64
weight               3156 non-null int64
arms                 3156 non-null float64
hands                3156 non-null float64
fortyyd              3156 non-null float64
twentyyd             3156 non-null float64
tenyd                3156 non-null float64
twentyss             3156 non-null float64
threecone            3156 non-null float64
vertical             3156 non-null float64
broad                3156 non-null int64
bench                3156 non-null int64
round                3156 non-null int64
college              3156 non-null object
pick                 3156 non-null object
pickround            3156 non-null int64
picktotal            3156 non-null int64
wonderlic            3156 non-null int64
nflgrade             3156 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 665.7+ KB
None

Investigate the unique values in the position column

In [10]:
data.position.unique()

array(['RB', 'WR', 'OLB', 'FS', 'DE', 'TE', 'ILB', 'DT', 'P', 'QB', 'OG',
       'OT', 'K', 'FB', 'SS', 'LS', 'CB', 'C', 'NT', 'OC'], dtype=object)

Replace RB and QB with Running Back and Quarterback

In [11]:
data.position.replace (['RB','QB'],['Running Back','Quarterback'], inplace=True)

In [12]:
data.position.unique()

array(['Running Back', 'WR', 'OLB', 'FS', 'DE', 'TE', 'ILB', 'DT', 'P',
       'Quarterback', 'OG', 'OT', 'K', 'FB', 'SS', 'LS', 'CB', 'C', 'NT',
       'OC'], dtype=object)

In [16]:
print data.position.factorize()

(array([ 0,  1,  0, ..., 11,  4,  0]), Index([u'Running Back', u'WR', u'OLB', u'FS', u'DE', u'TE', u'ILB', u'DT',
       u'P', u'Quarterback', u'OG', u'OT', u'K', u'FB', u'SS', u'LS', u'CB',
       u'C', u'NT', u'OC'],
      dtype='object'))

In [13]:
data.head(20)

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,...,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0,12,0,USC,NaN,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,...,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,36.0,121,24,0,LSU,NaN,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3
5,2015,Javorius Allen,Javorius,Allen,Running Back,6,0.0,72.0,221,0.0,...,35.5,121,11,0,USC,NaN,0,0,0,5.3
6,2015,Adrian Amos,Adrian,Amos,FS,6,0.0,72.0,218,0.0,...,35.5,122,0,0,Penn St.,NaN,0,0,0,5.5
7,2015,Dres Anderson,Dres,Anderson,WR,6,1.0,73.0,187,0.0,...,0.0,0,13,0,Utah,NaN,0,0,0,5.5
8,2015,Henry Anderson,Henry,Anderson,DE,6,6.0,78.0,294,0.0,...,30.0,111,0,0,Stanford,NaN,0,0,0,5.6
9,2015,Rory 'Busta' Anderson,Rory 'Busta',Anderson,TE,6,5.0,77.0,244,0.0,...,0.0,0,0,0,South Carolina,NaN,0,0,0,5.5
10,2015,Stephone Anthony,Stephone,Anthony,ILB,6,3.0,75.0,243,0.0,...,37.0,122,23,0,Clemson,NaN,0,0,0,5.4
11,2015,Arik Armstead,Arik,Armstead,DT,6,7.0,79.0,292,0.0,...,34.0,117,24,0,Oregon,NaN,0,0,0,6.2
12,2015,Cameron Artis-Payne,Cameron,Artis-Payne,Running Back,5,10.0,70.0,212,0.0,...,36.5,118,0,0,Auburn,NaN,0,0,0,5.4
13,2015,Neiron Ball,Neiron,Ball,OLB,6,2.0,74.0,236,0.0,...,0.0,0,22,0,Florida,NaN,0,0,0,4.9
14,2015,Tavaris Barnes,Tavaris,Barnes,DE,6,4.0,76.0,282,0.0,...,0.0,0,22,0,Clemson,NaN,0,0,0,5.0
15,2015,Wil Baumann,Wil,Baumann,P,6,6.0,78.0,187,0.0,...,0.0,0,0,0,N.C. State,NaN,0,0,0,5.1
16,2015,Vic Beasley,Vic,Beasley,OLB,6,3.0,75.0,246,0.0,...,41.0,130,35,0,Clemson,NaN,0,0,0,6.1
17,2015,Blake Bell,Blake,Bell,TE,6,6.0,78.0,252,0.0,...,33.0,116,14,0,Oklahoma,NaN,0,0,0,5.2
18,2015,Kenny Bell,Kenny,Bell,WR,6,1.0,73.0,197,0.0,...,41.5,129,7,0,Nebraska,NaN,0,0,0,5.4
19,2015,Bryan Bennett,Bryan,Bennett,Quarterback,6,2.0,74.0,211,0.0,...,37.0,125,0,0,Southeastern Louisiana,NaN,0,0,0,0.0

In [15]:
data['new_column']='X'
data.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade,new_column
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,...,130,24,0,Nebraska,NaN,0,0,0,5.9,X
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0,12,0,USC,NaN,0,0,0,5.6,X
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,...,121,19,0,Boise St.,NaN,0,0,0,6.0,X
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,121,24,0,LSU,NaN,0,0,0,5.4,X
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,121,13,0,West Virginia,NaN,0,0,0,5.3,X

# pandas.get_dummies => a way to produce pivot-table result

Create dummy values for position

In [18]:
data_positions = pd.get_dummies(data.position,prefix='Pos')

In [19]:
data_positions.head()

,Pos_C,Pos_CB,Pos_DE,Pos_DT,Pos_FB,Pos_FS,Pos_ILB,Pos_K,Pos_LS,Pos_NT,Pos_OC,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Merge the dummy data with the original data set

In [20]:
data = pd.merge(data, data_positions, left_index=True, right_index=True)

# same as the other way ::  data.merge(data, data_positions, left_index=True, right_index=True)

In [21]:
data.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,Pos_OC,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Convert weight from lbs to kg

In [22]:
data['weight_kg']=data.weight/2.2
data.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR,weight_kg
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,93.181818
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,90.000000
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,100.454545
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.181818
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,81.818182

Capitalize name

# use apply() function for more complicated operation

In [23]:
data.name.apply(str.upper).head()

0    AMEER ABDULLAH
1    NELSON AGHOLOR
2         JAY AJAYI
3    KWON ALEXANDER
4      MARIO ALFORD
Name: name, dtype: object

Reverse order of first and last name

# Approach 1

In [24]:
data.apply(lambda x:'{0},{1}'.format(
         x ['lastname'],x['firstname']),
          axis=1).head()

0    Abdullah,Ameer
1    Agholor,Nelson
2         Ajayi,Jay
3    Alexander,Kwon
4      Alford,Mario
dtype: object

# Approach 2

In [25]:
def reverse_name(name) :
       return "{0},{1}".format(name['lastname'],name['firstname'])

In [27]:
data.apply(reverse_name, axis=1)

0              Abdullah,Ameer
1              Agholor,Nelson
2                   Ajayi,Jay
3              Alexander,Kwon
4                Alford,Mario
5              Allen,Javorius
6                 Amos,Adrian
7               Anderson,Dres
8              Anderson,Henry
9       Anderson,Rory 'Busta'
10           Anthony,Stephone
11              Armstead,Arik
12        Artis-Payne,Cameron
13                Ball,Neiron
14             Barnes,Tavaris
15                Baumann,Wil
16                Beasley,Vic
17                 Bell,Blake
18                 Bell,Kenny
19              Bennett,Bryan
20            Bennett,Michael
21                 Bibbs,E.J.
22            Blackson,Angelo
23                    Bond,Al
24             Bonner,Detrick
25              Boone,Anthony
26                Boyko,Brett
27                 Boyle,Nick
28             Bridge,Brandon
29               Brindza,Kyle
                ...
4917             Waters,Brian
4918             Watson,Chris
4919           Weathers,Andre
4920             Weaver,Alton
4921               Weaver,Jed
4922         Wedderburn,Floyd
4923            Welbourn,John
4924               Wesley,Joe
4925               West,Devin
4926              White,Chris
4927                White,Ted
4928           Williams,Aaron
4929        Williams,Clarence
4930          Williams,Gerald
4931            Williams,Parc
4932           Williams,Ricky
4933                Wilson,Al
4934              Wiltz,Jason
4935         Winfield,Antoine
4936                Winn,Brad
4937              Wisne,Jerry
4938                 Wong,Joe
4939             Woody,Damien
4940                Word,Mark
4941           Wright,Anthony
4942             Yancey,Daren
4943              Yeast,Craig
4944               Young,Ryan
4945            Zellner,Peppi
4946             Zereoue,Amos
dtype: object

In [28]:
data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR,weight_kg
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,93.181818
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,90.000000
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,100.454545
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.181818
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,81.818182
5,2015,Javorius Allen,Javorius,Allen,Running Back,6,0.0,72.0,221,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,100.454545
6,2015,Adrian Amos,Adrian,Amos,FS,6,0.0,72.0,218,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.090909
7,2015,Dres Anderson,Dres,Anderson,WR,6,1.0,73.0,187,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,85.000000
8,2015,Henry Anderson,Henry,Anderson,DE,6,6.0,78.0,294,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,133.636364
9,2015,Rory 'Busta' Anderson,Rory 'Busta',Anderson,TE,6,5.0,77.0,244,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,110.909091
10,2015,Stephone Anthony,Stephone,Anthony,ILB,6,3.0,75.0,243,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110.454545
11,2015,Arik Armstead,Arik,Armstead,DT,6,7.0,79.0,292,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,132.727273
12,2015,Cameron Artis-Payne,Cameron,Artis-Payne,Running Back,5,10.0,70.0,212,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,96.363636
13,2015,Neiron Ball,Neiron,Ball,OLB,6,2.0,74.0,236,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107.272727
14,2015,Tavaris Barnes,Tavaris,Barnes,DE,6,4.0,76.0,282,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128.181818
15,2015,Wil Baumann,Wil,Baumann,P,6,6.0,78.0,187,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,85.000000
16,2015,Vic Beasley,Vic,Beasley,OLB,6,3.0,75.0,246,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111.818182
17,2015,Blake Bell,Blake,Bell,TE,6,6.0,78.0,252,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,114.545455
18,2015,Kenny Bell,Kenny,Bell,WR,6,1.0,73.0,197,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,89.545455
19,2015,Bryan Bennett,Bryan,Bennett,Quarterback,6,2.0,74.0,211,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,95.909091
20,2015,Michael Bennett,Michael,Bennett,DT,6,2.0,74.0,293,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,133.181818
21,2015,E.J. Bibbs,E.J.,Bibbs,TE,6,2.0,74.0,258,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,117.272727
22,2015,Angelo Blackson,Angelo,Blackson,DT,6,4.0,76.0,318,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,144.545455
23,2015,Al Bond,Al,Bond,OG,6,4.0,76.0,303,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137.727273
24,2015,Detrick Bonner,Detrick,Bonner,FS,6,0.0,72.0,207,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.090909
25,2015,Anthony Boone,Anthony,Boone,Quarterback,6,0.0,72.0,231,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,105.000000
26,2015,Brett Boyko,Brett,Boyko,OT,6,7.0,79.0,301,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,136.818182
27,2015,Nick Boyle,Nick,Boyle,TE,6,4.0,76.0,268,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,121.818182
28,2015,Brandon Bridge,Brandon,Bridge,Quarterback,6,4.0,76.0,229,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,104.090909
29,2015,Kyle Brindza,Kyle,Brindza,K,6,1.0,73.0,236,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4917,1999,Brian Waters,Brian,Waters,TE,6,2.0,74.0,281,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,127.727273
4918,1999,Chris Watson,Chris,Watson,CB,6,1.0,73.0,191,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86.818182
4919,1999,Andre Weathers,Andre,Weathers,CB,6,1.0,73.0,189,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.909091
4920,1999,Alton Weaver,Alton,Weaver,DE,6,4.0,76.0,296,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134.545455
4921,1999,Jed Weaver,Jed,Weaver,TE,6,4.0,76.0,246,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,111.818182
4922,1999,Floyd Wedderburn,Floyd,Wedderburn,OT,6,5.0,77.0,334,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,151.818182
4923,1999,John Welbourn,John,Welbourn,OT,6,5.0,77.0,317,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,144.090909
4924,1999,Joe Wesley,Joe,Wesley,ILB,6,1.0,73.0,229,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.090909
4925,1999,Devin West,Devin,West,Running Back,6,1.0,73.0,229,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,104.090909
4926,1999,Chris White,Chris,White,DT,6,3.0,75.0,282,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128.181818
4927,1999,Ted White,Ted,White,Quarterback,6,3.0,75.0,226,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,102.727273
4928,1999,Aaron Williams,Aaron,Williams,DE,6,5.0,77.0,253,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115.000000
4929,1999,Clarence Williams,Clarence,Williams,Running Back,5,9.0,69.0,202,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,91.818182
4930,1999,Gerald Williams,Gerald,Williams,WR,6,3.0,75.0,207,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,94.090909
4931,1999,Parc Williams,Parc,Williams,OLB,6,3.0,75.0,239,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.636364
4932,1999,Ricky Williams,Ricky,Williams,Running Back,5,11.0,71.0,244,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,110.909091
4933,1999,Al Wilson,Al,Wilson,ILB,6,1.0,73.0,239,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.636364
4934,1999,Jason Wiltz,Jason,Wiltz,DT,6,4.0,76.0,308,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140.000000
4935,1999,Antoine Winfield,Antoine,Winfield,CB,5,9.0,69.0,176,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.000000
4936,1999,Brad Winn,Brad,Winn,OG,6,5.0,77.0,339,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,154.090909
4937,1999,Jerry Wisne,Jerry,Wisne,OG,6,7.0,79.0,306,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139.090909
4938,1999,Joe Wong,Joe,Wong,OT,6,6.0,78.0,314,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,142.727273
4939,1999,Damien Woody,Damien,Woody,OC,6,3.0,75.0,328,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149.090909
4940,1999,Mark Word,Mark,Word,OLB,6,5.0,77.0,258,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117.272727
4941,1999,Anthony Wright,Anthony,Wright,Quarterback,6,2.0,74.0,195,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,88.636364
4942,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137.727273
4943,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,74.545455
4944,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,152.272727
4945,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111.818182
4946,1999,Amos Zereoue,Amos,Zereoue,Running Back,5,8.0,68.0,203,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,92.272727