# Data Cleaning with Pandas
&copy; QuantSprout

Import pandas

In [1]:
import pandas as pd

Read the combine.csv file as a DataFrame and investigate the contents

In [2]:
data = pd.read_csv('combine.csv')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
print data.head()
print data.info()
print data.describe()

   year            name firstname   lastname position  heightfeet  \
0  2015  Ameer Abdullah     Ameer   Abdullah       RB           5
1  2015  Nelson Agholor    Nelson    Agholor       WR           6
2  2015       Jay Ajayi       Jay      Ajayi       RB           6
3  2015  Kwon Alexander      Kwon  Alexander      OLB           6
4  2015    Mario Alford     Mario     Alford       WR           5

   heightinches  heightinchestotal  weight  arms  hands  fortyyd  twentyyd  \
0           9.0               69.0     205   0.0    0.0     4.60       0.0
1           0.0               72.0     198   0.0    0.0     4.42       0.0
2           0.0               72.0     221   0.0    0.0     4.57       0.0
3           1.0               73.0     227   0.0    0.0     4.55       0.0
4           8.0               68.0     180   0.0    0.0     4.43       0.0

   tenyd  twentyss  threecone  vertical  broad  bench  round        college  \
0    0.0      3.95       6.79      42.5    130     24      0       Nebraska
1    0.0      0.00       0.00       0.0      0     12      0            USC
2    0.0      4.10       7.10      39.0    121     19      0      Boise St.
3    0.0      4.20       7.14      36.0    121     24      0            LSU
4    0.0      4.07       6.64      34.0    121     13      0  West Virginia

  pick  pickround  picktotal  wonderlic  nflgrade
0  NaN          0          0          0       5.9
1  NaN          0          0          0       5.6
2  NaN          0          0          0       6.0
3  NaN          0          0          0       5.4
4  NaN          0          0          0       5.3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              3477 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None
              year   heightfeet  heightinches  heightinchestotal       weight  \
count  4947.000000  4947.000000   4947.000000        4947.000000  4947.000000
mean   2007.132201     5.805337      4.371437          74.035476   245.579745
std       5.029664     0.395981      3.279223           2.614778    45.639366
min    1999.000000     5.000000      0.000000          65.000000   155.000000
25%    2003.000000     6.000000      2.000000          73.000000   208.000000
50%    2007.000000     6.000000      4.000000          74.000000   237.000000
75%    2012.000000     6.000000      6.000000          76.000000   289.000000
max    2015.000000     6.000000     11.875000          82.000000   386.000000

              arms        hands      fortyyd     twentyyd        tenyd  \
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      7.640243     2.252426     4.610386     0.073734     0.129149
std      13.801035     4.070448     0.974087     0.432330     0.436941
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     4.530000     0.000000     0.000000
50%       0.000000     0.000000     4.690000     0.000000     0.000000
75%       0.000000     0.000000     4.990000     0.000000     0.000000
max      37.750000    11.375000     6.050000     2.980000     1.920000

          twentyss    threecone     vertical        broad        bench  \
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      3.298106     1.503002    28.741257    95.944006    15.723873
std       1.907526     2.929683    11.596749    41.826340    10.840896
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       3.835000     0.000000    28.000000   101.000000     0.000000
50%       4.240000     0.000000    32.500000   112.000000    18.000000
75%       4.470000     0.000000    35.500000   119.000000    24.000000
max       5.560000     8.310000    46.000000   147.000000    51.000000

             round    pickround    picktotal    wonderlic     nflgrade
count  4947.000000  4947.000000  4947.000000  4947.000000  4947.000000
mean      2.435415    11.318981    71.879523     1.144532     0.700627
std       2.476746    12.262220    79.417514     5.524047     1.813870
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       2.000000     7.000000    42.000000     0.000000     0.000000
75%       5.000000    21.000000   134.000000     0.000000     0.000000
max       8.000000    53.000000   262.000000    48.000000     7.500000

Fill missing values for college with 'No College'

In [3]:
print data.info()
data.college.fillna('No College',inplace=True)
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              3477 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              4947 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None

Remove the players that have null values for the pick

In [4]:
print data.info()
data_dropped = data.dropna(subset=['pick'])
print data_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 26 columns):
year                 4947 non-null int64
name                 4947 non-null object
firstname            4947 non-null object
lastname             4947 non-null object
position             4947 non-null object
heightfeet           4947 non-null int64
heightinches         4947 non-null float64
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4947 non-null float64
tenyd                4947 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              4947 non-null object
pick                 3156 non-null object
pickround            4947 non-null int64
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 1004.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3156 entries, 322 to 4946
Data columns (total 26 columns):
year                 3156 non-null int64
name                 3156 non-null object
firstname            3156 non-null object
lastname             3156 non-null object
position             3156 non-null object
heightfeet           3156 non-null int64
heightinches         3156 non-null float64
heightinchestotal    3156 non-null float64
weight               3156 non-null int64
arms                 3156 non-null float64
hands                3156 non-null float64
fortyyd              3156 non-null float64
twentyyd             3156 non-null float64
tenyd                3156 non-null float64
twentyss             3156 non-null float64
threecone            3156 non-null float64
vertical             3156 non-null float64
broad                3156 non-null int64
bench                3156 non-null int64
round                3156 non-null int64
college              3156 non-null object
pick                 3156 non-null object
pickround            3156 non-null int64
picktotal            3156 non-null int64
wonderlic            3156 non-null int64
nflgrade             3156 non-null float64
dtypes: float64(11), int64(9), object(6)
memory usage: 665.7+ KB
None

Investigate the unique values in the position column

In [5]:
data.position.unique()

array(['RB', 'WR', 'OLB', 'FS', 'DE', 'TE', 'ILB', 'DT', 'P', 'QB', 'OG',
       'OT', 'K', 'FB', 'SS', 'LS', 'CB', 'C', 'NT', 'OC'], dtype=object)

Replace RB and QB with Running Back and Quarterback

In [6]:
data.position.replace(['RB','QB'],['Running Back','Quarterback'],inplace=True)
data.head(20)

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,hands,fortyyd,twentyyd,tenyd,twentyss,threecone,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,0.0,4.60,0.0,0.0,3.95,6.79,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,0.0,4.42,0.0,0.0,0.00,0.00,0.0,0,12,0,USC,NaN,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,0.0,4.57,0.0,0.0,4.10,7.10,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,0.0,4.55,0.0,0.0,4.20,7.14,36.0,121,24,0,LSU,NaN,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,0.0,4.43,0.0,0.0,4.07,6.64,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3
5,2015,Javorius Allen,Javorius,Allen,Running Back,6,0.0,72.0,221,0.0,0.0,4.53,0.0,0.0,4.28,6.96,35.5,121,11,0,USC,NaN,0,0,0,5.3
6,2015,Adrian Amos,Adrian,Amos,FS,6,0.0,72.0,218,0.0,0.0,4.56,0.0,0.0,4.03,7.09,35.5,122,0,0,Penn St.,NaN,0,0,0,5.5
7,2015,Dres Anderson,Dres,Anderson,WR,6,1.0,73.0,187,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0,13,0,Utah,NaN,0,0,0,5.5
8,2015,Henry Anderson,Henry,Anderson,DE,6,6.0,78.0,294,0.0,0.0,5.03,0.0,0.0,4.19,7.20,30.0,111,0,0,Stanford,NaN,0,0,0,5.6
9,2015,Rory 'Busta' Anderson,Rory 'Busta',Anderson,TE,6,5.0,77.0,244,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0,0,0,South Carolina,NaN,0,0,0,5.5
10,2015,Stephone Anthony,Stephone,Anthony,ILB,6,3.0,75.0,243,0.0,0.0,4.56,0.0,0.0,4.03,7.07,37.0,122,23,0,Clemson,NaN,0,0,0,5.4
11,2015,Arik Armstead,Arik,Armstead,DT,6,7.0,79.0,292,0.0,0.0,5.10,0.0,0.0,4.53,7.57,34.0,117,24,0,Oregon,NaN,0,0,0,6.2
12,2015,Cameron Artis-Payne,Cameron,Artis-Payne,Running Back,5,10.0,70.0,212,0.0,0.0,4.53,0.0,0.0,0.00,7.13,36.5,118,0,0,Auburn,NaN,0,0,0,5.4
13,2015,Neiron Ball,Neiron,Ball,OLB,6,2.0,74.0,236,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0,22,0,Florida,NaN,0,0,0,4.9
14,2015,Tavaris Barnes,Tavaris,Barnes,DE,6,4.0,76.0,282,0.0,0.0,4.80,0.0,0.0,0.00,0.00,0.0,0,22,0,Clemson,NaN,0,0,0,5.0
15,2015,Wil Baumann,Wil,Baumann,P,6,6.0,78.0,187,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0,0,0,N.C. State,NaN,0,0,0,5.1
16,2015,Vic Beasley,Vic,Beasley,OLB,6,3.0,75.0,246,0.0,0.0,4.53,0.0,0.0,4.15,6.91,41.0,130,35,0,Clemson,NaN,0,0,0,6.1
17,2015,Blake Bell,Blake,Bell,TE,6,6.0,78.0,252,0.0,0.0,4.80,0.0,0.0,4.32,0.00,33.0,116,14,0,Oklahoma,NaN,0,0,0,5.2
18,2015,Kenny Bell,Kenny,Bell,WR,6,1.0,73.0,197,0.0,0.0,4.42,0.0,0.0,4.15,6.66,41.5,129,7,0,Nebraska,NaN,0,0,0,5.4
19,2015,Bryan Bennett,Bryan,Bennett,Quarterback,6,2.0,74.0,211,0.0,0.0,4.81,0.0,0.0,4.20,7.13,37.0,125,0,0,Southeastern Louisiana,NaN,0,0,0,0.0

Create dummy values for position

In [7]:
data_positions = pd.get_dummies(data.position,prefix='Pos')
data_positions.head()

,Pos_C,Pos_CB,Pos_DE,Pos_DT,Pos_FB,Pos_FS,Pos_ILB,Pos_K,Pos_LS,Pos_NT,Pos_OC,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Merge the dummy data with the original data set

In [8]:
data = pd.merge(data, data_positions, left_index=True, right_index=True)
data.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,hands,fortyyd,twentyyd,tenyd,twentyss,threecone,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade,Pos_C,Pos_CB,Pos_DE,Pos_DT,Pos_FB,Pos_FS,Pos_ILB,Pos_K,Pos_LS,Pos_NT,Pos_OC,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,0.0,4.60,0.0,0.0,3.95,6.79,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,0.0,4.42,0.0,0.0,0.00,0.00,0.0,0,12,0,USC,NaN,0,0,0,5.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,0.0,4.57,0.0,0.0,4.10,7.10,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,0.0,4.55,0.0,0.0,4.20,7.14,36.0,121,24,0,LSU,NaN,0,0,0,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,0.0,4.43,0.0,0.0,4.07,6.64,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Convert weight from lbs to kg

In [9]:
data['weight_kg'] = data.weight/2.2
data.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,hands,fortyyd,twentyyd,tenyd,twentyss,threecone,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade,Pos_C,Pos_CB,Pos_DE,Pos_DT,Pos_FB,Pos_FS,Pos_ILB,Pos_K,Pos_LS,Pos_NT,Pos_OC,Pos_OG,Pos_OLB,Pos_OT,Pos_P,Pos_Quarterback,Pos_Running Back,Pos_SS,Pos_TE,Pos_WR,weight_kg
0,2015,Ameer Abdullah,Ameer,Abdullah,Running Back,5,9.0,69.0,205,0.0,0.0,4.60,0.0,0.0,3.95,6.79,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,93.181818
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,0.0,4.42,0.0,0.0,0.00,0.00,0.0,0,12,0,USC,NaN,0,0,0,5.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,90.000000
2,2015,Jay Ajayi,Jay,Ajayi,Running Back,6,0.0,72.0,221,0.0,0.0,4.57,0.0,0.0,4.10,7.10,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,100.454545
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,0.0,4.55,0.0,0.0,4.20,7.14,36.0,121,24,0,LSU,NaN,0,0,0,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.181818
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,0.0,4.43,0.0,0.0,4.07,6.64,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,81.818182

Capitalize name

In [10]:
data.name.apply(str.upper).head()

0    AMEER ABDULLAH
1    NELSON AGHOLOR
2         JAY AJAYI
3    KWON ALEXANDER
4      MARIO ALFORD
Name: name, dtype: object

Reverse order of first and last name

In [11]:
data.apply(lambda x:'{0}, {1}'.format(
        x['lastname'], x['firstname']), 
        axis=1).head()

0    Abdullah, Ameer
1    Agholor, Nelson
2         Ajayi, Jay
3    Alexander, Kwon
4      Alford, Mario
dtype: object

In [12]:
def reverse_name(name):
    return "{0}, {1}".format(name['lastname'],name['firstname'])

In [13]:
data.apply(reverse_name,axis=1)

0              Abdullah, Ameer
1              Agholor, Nelson
2                   Ajayi, Jay
3              Alexander, Kwon
4                Alford, Mario
5              Allen, Javorius
6                 Amos, Adrian
7               Anderson, Dres
8              Anderson, Henry
9       Anderson, Rory 'Busta'
10           Anthony, Stephone
11              Armstead, Arik
12        Artis-Payne, Cameron
13                Ball, Neiron
14             Barnes, Tavaris
15                Baumann, Wil
16                Beasley, Vic
17                 Bell, Blake
18                 Bell, Kenny
19              Bennett, Bryan
20            Bennett, Michael
21                 Bibbs, E.J.
22            Blackson, Angelo
23                    Bond, Al
24             Bonner, Detrick
25              Boone, Anthony
26                Boyko, Brett
27                 Boyle, Nick
28             Bridge, Brandon
29               Brindza, Kyle
30               Brown, Da'Ron
31            Brown, Dominique
32                Brown, Jamon
33              Brown, Malcolm
34               Brown, Malcom
35              Brown, Trenton
36             Burton, Michael
37          Campbell, Ibraheim
38                  Cann, A.J.
39               Carden, Shane
40                Cardona, Joe
41                Carter, Alex
42               Catalon, B.J.
43            Celiscar, Donald
44          Chickillo, Anthony
45           Christian, Gerald
46               Christy, Kyle
47                Clark, Frank
48                Clay, Kaelin
49              Clear, Cameron
50             Clemmings, T.J.
51              Coates, Sammie
52                 Cobb, David
53             Cofield, Takoby
54             Coleman, Justin
55              Coleman, Tevin
56              Collins, Jalen
57              Collins, La'el
58             Collins, Landon
59               Conley, Chris
60               Cooper, Amari
61              Cooper, Xavier
62        Covington, Christian
63                 Cox, Justin
64             Crawford, Corey
65                  Crisp, Rob
66              Crockett, John
67            Crowder, Jamison
68       Cudjoe-Virgil, Yannik
69            Daniels, Davaris
70               Darby, Ronald
71                Davis, Aaron
72                 Davis, Carl
73              Davis, Devante
74               Davis, Geremy
75                 Davis, Mike
76                Davis, Titus
77             Davison, Tyeler
78                Dawson, Paul
79               Delaire, Ryan
80              DePriest, Trey
81                 Derby, A.J.
82            Dickson, Xzavier
83              Diggs, Quandre
84               Diggs, Stefon
85             Dismukes, Reese
86              Donnal, Andrew
87            Dorsett, Phillip
88               Doss, Lorenzo
89              Douglas, Jamil
90            Drummond, Kurtis
91                Dubose, B.J.
92                 Dupree, Bud
93               Dyer, Michael
94             Edwards, Jahwan
95          Edwards Jr., Mario
96            Ekpre-Olomu, Ifo
97               Emanuel, Kyle
98             Erving, Cameron
99            Eskridge, Durell
100             Fabuluje, Tayo
101              Fajardo, Cody
102             Feliciano, Jon
103                Ficken, Sam
104               Finney, B.J.
105               Fisher, Jake
106             Flowers, Ereck
107              Flowers, Trey
108            Fowler, Jalston
109          Fowler Jr., Dante
110                 Fua, Alani
111            Funchess, Devin
112            Gaines, Charles
113               Gallik, Andy
114                Garcia, Max
115          Geathers, Clayton
116           Gibson, Laurence
117              Glenn, Jacoby
118            Glowinski, Mark
119             Golden, Markus
120             Goldman, Eddie
121            Golson, Senquez
122            Goodley, Antwan
123             Gordon, Melvin
124               Grant, Doran
125             Grasu, Hroniss
126           Grayson, Garrett
127                Green, Chaz
128      Green-Beckham, Dorial
129             Greene, Rashad
130             Gregory, Randy
131             Grissom, Geneo
132           Gunter, Ladarius
133               Gurley, Todd
134              Gwacham, Obum
135             Hackett, Chris
136               Hager, Bryce
137              Hall, Rannell
138           Halliday, Connor
139             Hamilton, Chad
140           Hardison, Marcus
141              Hardy, Justin
142                Harold, Eli
143               Harper, Josh
144            Harris, Anthony
145           Harrison, Jarvis
146                Hart, Bobby
147                  Hart, Dee
148            Havenstein, Rob
149             Heard, Braylon
150                Heeney, Ben
151            Herrera, Amarlo
152             Heuerman, Jeff
153               Hickey, Sean
154              Hicks, Jordan
155                 Hill, Troy
156            Hilliard, Kenny
157               Hodges, Zack
158            Holliman, Gerod
159                 Hull, Mike
160            Humphries, D.J.
161             Hundley, Brett
162           Hunter, Danielle
163              Ifedi, Martin
164               Iosefa, Joey
165              Jackson, Tre'
166               James, Jesse
167             Jarrett, Grady
168           Jarrett, Kyshoen
169         Jefferson, Anthony
170             Johnson, David
171              Johnson, Duke
172               Johnson, Gus
173             Johnson, Kevin
174              Johnson, Will
175               Jones, Byron
176           Jones, Christion
177                Jones, Matt
178              Jones, Taiwan
179            Kendricks, Eric
180            Kikaha, Hau'oli
181            Kouandjio, Arie
182                Koyack, Ben
183               Kroft, Tyler
184                Lambo, Josh
185           Langford, Jeremy
186              Lewis, Dezmin
187              Lippett, Tony
188             Lockett, Tyler
189                 Long, Deon
190               Loomis, Kyle
191              Lott, Derrick
192           Lovelocke, Jerry
193         Luckett, Donatella
194            Magee, Terrence
195               Mager, Craig
196                Mancz, Greg
197              Mannion, Sean
198             Manton, Justin
199            Mariota, Marcus
200              Marlowe, Dean
201                Marpet, Ali
202             Marshall, Nick
203              Matias, Josue
204           Mauldin, Lorenzo
205               Mayle, Vince
206                  Mbu, Joey
207               McBride, Tre
208              McCain, Bobby
209            McCarthy, Ellis
210            McDonald, Tevin
211       McKinney, Benardrick
212            Miller, Darrian
213               Miller, John
214             Montgomery, Ty
215               Morse, Mitch
216            Mumphery, Keith
217             Murphy, Marcus
218              Myers, Robert
219               Nelson, J.J.
220             Nelson, Steven
221       Nunez-Roches, Rakeem
222              Nzeocha, Mark
223              O'Leary, Nick
224       Odighizuwa, Owamagbe
225            Ogbuehi, Cedric
226              Orchard, Nate
227                  Orr, Leon
228            Pardula, Trevor
229            Parker, DeVante
230               Parry, David
231               Peat, Andrus
232          Perriman, Breshad
233           Perryman, Denzel
234              Peters, Garry
235             Peters, Marcus
236               Petty, Bryce
237           Phillips, Jordan
238             Philon, Darius
239            Pinion, Bradley
240               Poole, Terry
241          Poutasi, Jeremiah
242              Prewitt, Cody
243             Pruitt, MyCole
244             Pullard, Hayes
245         Randall, Damarious
246              Rawls, Thomas
247                 Ray, Shane
248               Reed, Cedric
249           Richards, Jordan
                 ...
4697               Grieb, Mike
4698            Griffin, Damon
4699             Gustin, Billy
4700                Hale, Ryan
4701                Hall, Cory
4702              Hall, Darran
4703              Ham, Derrick
4704              Hart, Donnie
4705            Hatcher, Armon
4706             Heiden, Steve
4707               Hill, Madre
4708               Hinton, Jay
4709          Holdman, Warrick
4710            Holland, Andre
4711              Holmes, Gary
4712               Holt, Torry
4713              Homer, Kevin
4714               Hood, Chris
4715            Hopson, Tyrone
4716             Houzah, Terry
4717            Howard, Bobbie
4718              Huard, Brock
4719              Hughes, Matt
4720             Hulsey, Corey
4721             Humphrey, Jay
4722            Humphrey, John
4723            Hunt, Cletidus
4724              Hunt, Robert
4725            Irvin, Sedrick
4726           Jackson, Dexter
4727           Jackson, Lenzie
4728           Jackson, Quincy
4729          Jackson, Sheldon
4730            Jackson, Terry
4731           James, Edgerrin
4732               Jansen, Jon
4733           Jefferson, Love
4734           Jenkins, MarTay
4735            Jennings, John
4736          Johnson, Garrett
4737             Johnson, J.J.
4738            Johnson, Kevin
4739           Johnson, Olrick
4740            Johnson, Paris
4741              Jones, Bryan
4742              Jones, Chris
4743              Jones, Corby
4744             Jones, Daniel
4745           Jones, Jermaine
4746             Jones, Willie
4747              Joseph, Gana
4748                Kanu, Sori
4749         Katzenmoyer, Andy
4750             Kearse, Jevon
4751               Kelly, Jeff
4752             Kelly, Reggie
4753              Kelsay, Chad
4754           Kerney, Patrick
4755            Kiernan, Scott
4756          Kimbrough, Jaime
4757                King, Eric
4758               King, Lamar
4759               King, Shaun
4760          Kleinsasser, Jim
4761             Kobdish, Josh
4762            Konopka, Steve
4763               Konrad, Rob
4764            Kuklick, Brian
4765            Landolt, Kevin
4766                Lauta, Dan
4767         Ledyard, Courtney
4768             Leigh, Graham
4769            Leroy, Emarlos
4770              Lewis, Derek
4771              Love, Marvin
4772            Loverne, David
4773               Lucky, Mike
4774             Lumpkin, John
4775               Maas, Jason
4776              Mack, Stacey
4777           Makovicka, Joel
4778          Mallard, Deshone
4779             Martin, Cecil
4780          McAlister, Chris
4781          McCall, Jonathan
4782             McClure, Todd
4783           McCullar, Kevin
4784        McCutcheon, Daylon
4785          McDaniel, Jeremy
4786         McDonald, Darnell
4787        McFarland, Anthony
4788            McGarity, Wane
4789            McGrew, Reggie
4790           McGriff, Travis
4791            McKenzie, Mike
4792              McLain, C.J.
4793          McLaughlin, John
4794           McNabb, Donovan
4795              McNown, Cade
4796          Menendez, Rondel
4797            Miller, Arnold
4798             Miller, Billy
4799               Miller, Dee
4800              Mills, Jason
4801               Minor, Kory
4802             Miranda, Paul
4803          Mitchell, Donald
4804           Mitchell, Kenny
4805           Mitchell, Tywan
4806           Montgomery, Joe
4807              Moore, Damon
4808            Moore, Ulysses
4809            Morgan, Jeremy
4810            Moronkola, Dee
4811           Mulitalo, Edwin
4812              Nastasi, Joe
4813          Navies, Hannibal
4814           Neasman, Gerald
4815             Nesbit, Jamar
4816              Newell, Mike
4817           Newkirk, Robert
4818             Newman, Keith
4819               Nguyen, Dat
4820              Nichols, Ben
4821                Nord, Rick
4822            Offutt, Jeremy
4823             Ogle, Kendell
4824            Okeafor, Chike
4825          Owens, Patterson
4826               Page, Craig
4827             Page, Solomon
4828           Parker, Anthony
4829            Parker, DeMond
4830             Parker, Larry
4831              Parker, Sirr
4832               Paulk, Jeff
4833              Pegues, Chad
4834              Perry, Jason
4835            Peterson, Mike
4836           Petitgout, Luke
4837              Piller, Zach
4838             Plummer, Chad
4839              Porter, Joey
4840            Powell, Ronnie
4841           Price, Peerless
4842            Pringley, Mike
4843         Prioleau, Pierson
4844            Pukenas, Brian
4845             Rafferty, Ian
4846              Rainer, Wali
4847               Ray, Marcus
4848             Reado, Jarvis
4849            Reagor, Montae
4850         Rhinehart, Jacoby
4851            Roberts, Cleve
4852             Rogers, Brian
4853               Rose, Derek
4854              Rubin, Marek
4855              Rucker, Mike
4856            Ruegamer, Grey
4857             Ruff, Orlando
4858          Rutledge, Johnny
4859             Samuel, Khari
4860           Saunders, David
4861           Sawyer, Talance
4862                Schau, Tom
4863              Scioli, Brad
4864              Scott, Yusef
4865              Seih, Thomas
4866               Shay, Brian
4867             Shelton, L.J.
4868            Shields, Scott
4869              Singh, Bobby
4870            Slappey, Andre
4871               Small, Tony
4872              Smith, Aaron
4873              Smith, Akili
4874              Smith, Brian
4875              Smith, Devon
4876               Smith, Jeff
4877              Smith, Larry
4878            Smith, Marquis
4879               Smith, Troy
4880        Southward, Brandon
4881              Spann, Creig
4882           Spikes, Cameron
4883          Spiller, Derrick
4884           Spragan, Donnie
4885           Spriggs, Marcus
4886              Stanec, Mike
4887            Stecker, Aaron
4888               Stevens, LC
4889          Stevenson, Derik
4890              Stills, Gary
4891          Stinchcomb, Matt
4892          Stokley, Brandon
4893              Streets, Tai
4894             Swift, Justin
4895                Sword, Sam
4896                Tait, John
4897          Talamaivao, Pene
4898                Talton, Ty
4899            Tarplin, Jesse
4900              Terry, Chris
4901              Terry, Corey
4902              Terry, Myron
4903             Thigpen, Eric
4904             Thomas, Randy
4905         Thompson, Derrius
4906           Thompson, Ricky
4907            Thornton, John
4908               Tucker, Rex
4909             Tuman, Jerame
4910                Uhl, Brian
4911      Underwood, Dimitrius
4912           Vaughn, Michael
4913              Vinson, Fred
4914                Ware, Brad
4915         Washington, Damon
4916        Washington, Marcus
4917             Waters, Brian
4918             Watson, Chris
4919           Weathers, Andre
4920             Weaver, Alton
4921               Weaver, Jed
4922         Wedderburn, Floyd
4923            Welbourn, John
4924               Wesley, Joe
4925               West, Devin
4926              White, Chris
4927                White, Ted
4928           Williams, Aaron
4929        Williams, Clarence
4930          Williams, Gerald
4931            Williams, Parc
4932           Williams, Ricky
4933                Wilson, Al
4934              Wiltz, Jason
4935         Winfield, Antoine
4936                Winn, Brad
4937              Wisne, Jerry
4938                 Wong, Joe
4939             Woody, Damien
4940                Word, Mark
4941           Wright, Anthony
4942             Yancey, Daren
4943              Yeast, Craig
4944               Young, Ryan
4945            Zellner, Peppi
4946             Zereoue, Amos
dtype: object