 # Importing Packages in Python and Datetime
 &copy; QuantSprout

Let's import a package

In [1]:
import datetime as dt

Use ipython magic to see function options. Type datetime. and press tab.  Highlight time and press enter.  Hit shift-tab

In [2]:
dt.time

datetime.time

Use a function from the datetime package

In [3]:
print dt.time(1)

01:00:00

## Datetime Package

Use the now function to get the current datetime stamp.

In [4]:
ts_now = dt.datetime.now()
print ts_now

2016-11-05 14:19:52.282925

Extract the day from the timestamp

In [5]:
print ts_now.day

5

Extract some other datetime elements

In [18]:
print ts_now.year
print ts_now.month
print ts_now.minute
print ts_now.second
print ts_now.microsecond

2016
11
19
52
282925

Create a timestamp for Christmas

In [7]:
ts_xmas = dt.datetime(2016,12,25)
print ts_xmas

2016-12-25 00:00:00

Do math with the timestamps

In [8]:
ts_diff = ts_xmas - ts_now
print ts_diff
print type(ts_diff)

49 days, 9:40:07.717075
<type 'datetime.timedelta'>

Convert a string to datetime format

In [9]:
date_str = "01-10-2015"
date_ts = dt.datetime.strptime(date_str,"%m-%d-%Y")
print date_ts
print type(date_ts)

2015-01-10 00:00:00
<type 'datetime.datetime'>

Convert a datetime object to a string

In [10]:
new_date_str = dt.datetime.strftime(date_ts,"%H:%M:%S %m-%d-%Y")
print new_date_str
print type(new_date_str)

00:00:00 01-10-2015
<type 'str'>

### Exercises

Create a variable called future with a datetime value of January 15, 2017 at 5:30pm

In [11]:
future = dt.datetime(2017,1,15,17,30,15,1)
print future

2017-01-15 17:30:15.000001

Create a variable with a timedelta equal to the difference between future and now

In [12]:
td = future - dt.datetime.now()
print td

71 days, 3:10:22.594864

Print the number of seconds from the timedelta

In [21]:
print td.total_seconds()
print td
print td.seconds
print td.days
print td.days*24*60*60 + td.seconds

print dt.timedelta(seconds=td.total_seconds())
print dt.datetime.today() - dt.timedelta(days=30)

6145822.59486
71 days, 3:10:22.594864
11422
71
6145822
71 days, 3:10:22.594864
2016-10-06 17:12:15.849979

In [14]:
(future - dt.datetime.now()).total_seconds()

6145822.556077

In [15]:
td.total_seconds()%60

22.59486399963498

#### Bonus: 
Try converting strings to datetime objects and datetime objects back to strings.  What are some interesting datetime formats you can find in the documentation?

In [16]:
example = dt.datetime(2017,12,15,17,30)

print dt.datetime.strftime(example,'%m/%d/%y')
print dt.datetime.strftime(example,'%b-%d-%Y')
print dt.datetime.strftime(example,'%H:%M:%S')
print dt.datetime.strftime(example,'%B %d, %Y')
print dt.datetime.strftime(example,'%a %I %p')
print dt.datetime.strftime(example,'%U')
print dt.datetime.strftime(example,'sales report %Y%m%d.xlsx')

12/15/17
Dec-15-2017
17:30:00
December 15, 2017
Fri 05 PM
50
sales report 20171215.xlsx

In [17]:
date_format = '%m/%d/%Y'
print dt.datetime.strftime(example, date_format)

12/15/2017