  # Python for Data Science Bootcamp
  ## Review Python Fundamentals

Create a function that takes a numeric age as an input and prints a category label: 
- age <= 16 is kid
- age 17-59 is adult
- age >= 60 is senior

In [18]:
def detect_age(age):
    if type(age) != int:
        print "Please enter an integer"
    else :
        if age <= 16 and age >= 0:
            print "kid"
        elif age >16 and age <= 59:
            print "adult"
        elif age >= 60 and age <100:
            print "senior"
        elif age >= 101:
            print "too old"
        else:
            print "wrong input"
        
detect_age (1)
detect_age (56)
detect_age (32)
detect_age (16)
detect_age (-36)
detect_age (102)
detect_age('hhs')

kid
adult
adult
kid
wrong input
too old
Please enter an integer

Write single line of code that returns last five items in the list below

In [4]:
sample_list = ['cat', 'dog', 1, 2, 3,4, 9, 'bird']

In [5]:
sample_list [-5:]

[2, 3, 4, 9, 'bird']

Create a dictionary with the following key-value pairs:  
- 'pizza' and 'Italian'
- 'sushi' and 'Japanese'
- 'cheeseburger' and 'American'

In [7]:
dict = { 'pizza': 'Italian', 'sushi': 'Japanese', 'cheeseburger':'American'}

print dict

{'sushi': 'Japanese', 'cheeseburger': 'American', 'pizza': 'Italian'}

In [20]:
food_alt ={}
food_alt ['pizza'] = 'Italian'
food_alt ['sushi'] = 'Japanese'
food_alt ['cheeseburger'] = 'American'
print food_alt
del food_alt['pizza']
print food_alt
food_alt ['pizza'] = 'Italian'

{'sushi': 'Japanese', 'cheeseburger': 'American', 'pizza': 'Italian'}
{'sushi': 'Japanese', 'cheeseburger': 'American'}

Create a list of squared values for 1 to 100

In [13]:
#print range (1,100,1)
results = []
for x in range (1,101):
    results.append (x **2)
print results

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [21]:
[ x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Using the datetime package, convert the following string into a datetime object

In [11]:
import datetime as dt
date_string = 'Mon, July 24, 2016 14:15'

In [12]:
date_ds = dt.datetime.strptime(date_string, "%a, %B %d, %Y %H:%M")
print date_ds
print type(date_ds)

2016-07-24 14:15:00
<type 'datetime.datetime'>