  # Python for Data Science Bootcamp
  ## K Nearest Neighbors

Import pandas and numpy packages

In [1]:
import numpy as np
import pandas as pd

Read the iris CSV file

In [2]:
iris = pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

Explore the data

In [3]:
iris.info()
iris.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5
species       150.0  1.000000  0.819232  0.0  0.0  1.00  2.0  2.0

Create two variables for features and target.  Convert them into values.

In [4]:
iris_features = iris[['sepal_length','sepal_width',
                      'petal_length','petal_width']].values
iris_target = iris.species.values

Scikit-learn has a function to split data into training and testing sets

In [5]:
from sklearn.cross_validation import train_test_split

Apply train_test_split to sample data

In [29]:
example_features = [[1,10],[2,20],[3,30],[4,40],[5,50]]
example_target = ['a','b','c','d','e']

[f_train, f_test, t_train_, t_test] = \
    train_test_split (example_features, example_target, test_size=0.2,
                      random_state=0)

In [30]:
f_train

[[1, 10], [2, 20], [4, 40], [5, 50]]

In [31]:
f_test

[[3, 30]]

In [32]:
t_train

NameError: name 't_train' is not defined

In [33]:
t_test

['c']

View results of train_test_split

In [22]:
print 'Training Set'
print f_train
print t_train
print '-----------------'
print 'Test Set'
print f_test
print t_test

Training Set
[[1, 10], [2, 20], [4, 40], [5, 50]]

NameError: name 't_train' is not defined

Split the iris data into training set and test set

In [14]:
features_train, features_test, target_train,\
    target_test = train_test_split(\
    iris_features, iris_target, test_size=0.20,\
    random_state=0)

In [147]:
features_test

array([[29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [7.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, False, 1.0, 0.0, 0.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [40.0, False, 1.0, 0.0, 0.0],
       [31.0, False, 1.0, 0.0, 0.0],
       [25.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [26.0, True, 0.0, 0.0, 1.0],
       [40.0, False, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [7.0, False, 0.0, 1.0, 0.0],
       [24.0, False, 1.0, 0.0, 0.0],
       [14.0, False, 0.0, 0.0, 1.0],
       [23.0, True, 0.0, 0.0, 1.0],
       [19.0, True, 0.0, 1.0, 0.0],
       [35.0, True, 0.0, 0.0, 1.0],
       [0.42, True, 0.0, 0.0, 1.0],
       [18.0, True, 0.0, 1.0, 0.0],
       [22.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [22.0, False, 0.0, 0.0, 1.0],
       [40.0, False, 1.0, 0.0, 0.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [22.0, False, 0.0, 0.0, 1.0],
       [25.0, False, 0.0, 1.0, 0.0],
       [2.0, False, 0.0, 0.0, 1.0],
       [33.0, True, 0.0, 0.0, 1.0],
       [50.0, False, 0.0, 1.0, 0.0],
       [28.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [29.0, True, 0.0, 0.0, 1.0],
       [32.0, True, 1.0, 0.0, 0.0],
       [43.0, True, 0.0, 0.0, 1.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [25.0, True, 0.0, 1.0, 0.0],
       [54.0, True, 0.0, 1.0, 0.0],
       [60.0, True, 1.0, 0.0, 0.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [14.0, True, 0.0, 0.0, 1.0],
       [35.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [18.0, False, 1.0, 0.0, 0.0],
       [39.0, True, 0.0, 1.0, 0.0],
       [52.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [23.0, True, 1.0, 0.0, 0.0],
       [4.0, False, 0.0, 1.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [24.0, True, 0.0, 1.0, 0.0],
       [62.0, True, 1.0, 0.0, 0.0],
       [11.0, False, 0.0, 0.0, 1.0],
       [10.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [22.0, True, 0.0, 0.0, 1.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [54.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [27.0, False, 0.0, 0.0, 1.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [49.0, False, 1.0, 0.0, 0.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [2.0, False, 0.0, 1.0, 0.0],
       [19.0, False, 1.0, 0.0, 0.0],
       [24.0, False, 0.0, 1.0, 0.0],
       [48.0, True, 1.0, 0.0, 0.0],
       [28.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [24.5, True, 0.0, 0.0, 1.0],
       [30.0, False, 0.0, 1.0, 0.0],
       [19.0, True, 1.0, 0.0, 0.0],
       [40.0, True, 1.0, 0.0, 0.0],
       [34.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [9.0, True, 0.0, 0.0, 1.0],
       [26.0, False, 0.0, 1.0, 0.0],
       [16.0, True, 0.0, 0.0, 1.0],
       [46.0, True, 0.0, 1.0, 0.0],
       [21.0, False, 1.0, 0.0, 0.0],
       [42.0, False, 1.0, 0.0, 0.0],
       [63.0, False, 0.0, 0.0, 1.0],
       [34.0, False, 0.0, 1.0, 0.0],
       [18.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [3.0, True, 0.0, 1.0, 0.0],
       [44.0, False, 1.0, 0.0, 0.0],
       [9.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [24.0, False, 0.0, 1.0, 0.0],
       [16.0, True, 0.0, 0.0, 1.0],
       [60.0, True, 1.0, 0.0, 0.0],
       [27.0, True, 1.0, 0.0, 0.0],
       [14.0, True, 0.0, 0.0, 1.0],
       [54.0, True, 0.0, 1.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [18.0, True, 0.0, 0.0, 1.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [35.0, False, 0.0, 0.0, 1.0],
       [28.0, False, 0.0, 1.0, 0.0],
       [41.0, False, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 1.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [48.0, True, 0.0, 0.0, 1.0],
       [22.0, False, 1.0, 0.0, 0.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [36.0, True, 1.0, 0.0, 0.0],
       [28.0, False, 0.0, 1.0, 0.0],
       [24.0, False, 0.0, 0.0, 1.0],
       [18.0, False, 1.0, 0.0, 0.0],
       [40.0, True, 0.0, 0.0, 1.0],
       [45.0, False, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [20.0, True, 0.0, 0.0, 1.0],
       [38.0, True, 1.0, 0.0, 0.0],
       [33.0, True, 0.0, 0.0, 1.0],
       [58.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 1.0, 0.0],
       [51.0, True, 0.0, 1.0, 0.0],
       [21.0, False, 0.0, 0.0, 1.0],
       [21.0, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [20.0, False, 0.0, 0.0, 1.0],
       [64.0, True, 1.0, 0.0, 0.0],
       [21.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [40.0, False, 0.0, 0.0, 1.0],
       [44.0, True, 0.0, 1.0, 0.0],
       [23.0, True, 0.0, 1.0, 0.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [33.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [18.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, False, 0.0, 1.0, 0.0],
       [24.0, False, 0.0, 0.0, 1.0],
       [30.0, True, 0.0, 1.0, 0.0],
       [42.0, False, 0.0, 1.0, 0.0],
       [50.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [45.0, True, 1.0, 0.0, 0.0],
       [30.0, False, 0.0, 0.0, 1.0],
       [37.0, False, 0.0, 0.0, 1.0],
       [29.0, True, 0.0, 0.0, 1.0],
       [17.0, False, 0.0, 1.0, 0.0],
       [26.0, True, 0.0, 1.0, 0.0],
       [45.0, False, 0.0, 0.0, 1.0],
       [62.0, True, 0.0, 1.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [0.75, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [20.0, True, 0.0, 0.0, 1.0],
       [54.0, False, 1.0, 0.0, 0.0],
       [33.0, False, 0.0, 0.0, 1.0],
       [15.0, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [51.0, True, 0.0, 0.0, 1.0],
       [22.0, True, 0.0, 0.0, 1.0],
       [24.0, True, 0.0, 0.0, 1.0],
       [17.0, True, 0.0, 0.0, 1.0],
       [51.0, True, 0.0, 0.0, 1.0],
       [38.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [13.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [31.0, False, 1.0, 0.0, 0.0],
       [23.0, True, 0.0, 0.0, 1.0],
       [19.0, True, 0.0, 0.0, 1.0]], dtype=object)

In [15]:
print features_train.shape
print features_test.shape
print target_train.shape
print target_test.shape

(120, 4)
(30, 4)
(120,)
(30,)

Import the K Nearest Neighbors classifier from scikit-learn

In [18]:
from sklearn.neighbors import KNeighborsClassifier

Train the KNN classifier

In [25]:
model = KNeighborsClassifier(5, weights='uniform').fit(features_train, target_train)

Compare predictions with actual results

In [26]:
print model.predict(features_test)
print target_test

[2 1 0 2 0 2 0 1 1 1 2 1 1 1 2 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0]
[2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0]

Predict probabilities

In [27]:
model.predict_proba(features_test)

array([[ 0. ,  0. ,  1. ],
       [ 0. ,  1. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  0.2,  0.8],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  0.4,  0.6],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0.8,  0.2],
       [ 0. ,  1. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ],
       [ 0. ,  1. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0.2,  0.8],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 0. ,  1. ,  0. ],
       [ 1. ,  0. ,  0. ]])

Score the model

In [28]:
model.score(features_test, target_test)

0.96666666666666667

## K-Folds Cross-Validation

Import the KFold function from scikit-learn

In [37]:
from sklearn.cross_validation import KFold

KFold function creates indices for separating training and test sets.  Lets create indices for a data set of 3 records with 3 folds.

In [58]:

k_fold_indices = KFold(3, n_folds=3, shuffle=False)
print k_fold_indices

print np.array(list(k_fold_indices))

sklearn.cross_validation.KFold(n=3, n_folds=3, shuffle=False, random_state=None)
[[array([1, 2]) array([0])]
 [array([0, 2]) array([1])]
 [array([0, 1]) array([2])]]

In [55]:
[[[1,2],[0]]]

[[[1, 2], [0]]]

Let's see what is in the k_fold_indices

In [59]:
k_fold_indices

sklearn.cross_validation.KFold(n=3, n_folds=3, shuffle=False, random_state=None)

In [60]:
for x,y in k_fold_indices:
    print x,y

[1 2] [0]
[0 2] [1]
[0 1] [2]

Remember how to index numpy arrays with indices?

In [61]:
sample = np.array([0,10,20,30,40,50])

indices = [4,0,2]
print sample[indices]

[40  0 20]

Let's use the indices to index values in an array.

In [62]:
data = np.array(['a','b','c'])
for x,y in k_fold_indices:
    print data[x],data[y]

['b' 'c'] ['a']
['a' 'c'] ['b']
['a' 'b'] ['c']

Function for calculating cross-validation

In [64]:
# cross validation function with average score
def cross_validate(features, target, classifier, k_fold, r_state=None) :

    # derive a set of (random) training and testing indices
    k_fold_indices = KFold(len(features), n_folds=k_fold,
                           shuffle=True, random_state=r_state)

    k_score_total = 0
    
    # for each training and testing slices run the classifier, and score the results
    for train_indices, test_indices in k_fold_indices :

        model = classifier.fit(features[train_indices],
                               target[train_indices])

        k_score = model.score(features[test_indices],
                              target[test_indices])

        k_score_total += k_score

    # return the average accuracy
    return k_score_total/k_fold

In [ ]:
# Better cross validation function with average score
def cross_validate2(features, k, weights, target, classifier, k_fold, r_state=None) :
#    model = KNeighborsClassifier(5).fit(titanic_features, titanic_target)
    # derive a set of (random) training and testing indices
    k_fold_indices = KFold(len(features), n_folds=k_fold,
                           shuffle=True, random_state=r_state)

    k_score_total = 0
    
    # for each training and testing slices run the classifier, and score the results
    for train_indices, test_indices in k_fold_indices :

        model = classifier.fit(features[train_indices],
                               target[train_indices])

        k_score = model.score(features[test_indices],
                              target[test_indices])

        k_score_total += k_score

    # return the average accuracy
    return k_score_total/k_fold

In [66]:
k_fold_indices = KFold(20,5, shuffle=True)

for train_indices, test_indices in k_fold_indices :
      print train_indices, ' - ',test_indices

[ 0  2  3  4  5  6  7  8  9 10 12 13 15 16 17 19]  -  [ 1 11 14 18]
[ 0  1  2  3  4  5  7  8 10 11 12 13 14 15 17 18]  -  [ 6  9 16 19]
[ 0  1  2  4  6  7  8  9 10 11 12 13 14 16 18 19]  -  [ 3  5 15 17]
[ 1  3  4  5  6  7  9 11 12 13 14 15 16 17 18 19]  -  [ 0  2  8 10]
[ 0  1  2  3  5  6  8  9 10 11 14 15 16 17 18 19]  -  [ 4  7 12 13]

Test the function with different numbers of neighbors

In [69]:
print 'Cross Validate with 3-fold : ' , cross_validate(iris_features, iris_target,
                    KNeighborsClassifier(3),10,0)
print '-----------------------------------------------'
print 'Cross Validate with 4-fold : ' , cross_validate(iris_features, iris_target,
                    KNeighborsClassifier(4),10,0)
print '-----------------------------------------------'
print 'Cross Validate with 5-fold : ' , cross_validate(iris_features, iris_target,
                    KNeighborsClassifier(5),10,0)

Cross Validate with 3-fold :  0.96
-----------------------------------------------
Cross Validate with 4-fold :  0.946666666667
-----------------------------------------------
Cross Validate with 5-fold :  0.96

## Exercise
####1. Load the clean_data.csv as a DataFrame

In [71]:
data=pd.read_csv('clean_data.csv', encoding='latin_1')

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
Unnamed: 0     891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
_Pclass_1      891 non-null float64
_Pclass_2      891 non-null float64
_Pclass_3      891 non-null float64
dtypes: float64(5), int64(6), object(5)
memory usage: 111.4+ KB

In [72]:
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,_Pclass_1,_Pclass_2,_Pclass_3
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0,0.0,1.0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.0,0.0,0.0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.0,0.0,1.0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.0,0.0,0.0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.0,0.0,1.0

In [92]:
data.Sex.replace(['male','female'],[True,False],inplace=True)

####2. Separate the data into features (limit to age, sex, pclass dummy variables) and target (Note: Make sure you convert the data to a numpy array by typing .values at end of DataFrame)

In [93]:
# convert as a numpy array !!!

titanic_features = data[['Age', 'Sex',  '_Pclass_1', '_Pclass_2','_Pclass_3']].values

titanic_target = data.Survived.values

In [94]:
print titanic_features

[[22.0 True 0.0 0.0 1.0]
 [38.0 False 1.0 0.0 0.0]
 [26.0 False 0.0 0.0 1.0]
 ...,
 [29.6991176471 False 0.0 0.0 1.0]
 [26.0 True 1.0 0.0 0.0]
 [32.0 True 0.0 0.0 1.0]]

In [95]:
print titanic_target

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [96]:
 features_train, features_test, target_train, \
      target_test = train_test_split(
                titanic_features, titanic_target, test_size=0.20, random_state=0)
        
 print   '--- features_train ---'    
 print   features_train    
 print   '--- features_test ---'    
 print   features_test    
 print   '--- target_train ---'    
 print   target_train    
 print   '--- target_test ---'    
 print   target_test

--- features_train ---
[[29.6991176471 False 0.0 0.0 1.0]
 [31.0 True 0.0 1.0 0.0]
 [31.0 True 0.0 1.0 0.0]
 ...,
 [29.6991176471 True 0.0 0.0 1.0]
 [36.0 False 0.0 0.0 1.0]
 [60.0 True 0.0 1.0 0.0]]
--- features_test ---
[[29.6991176471 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [7.0 True 0.0 0.0 1.0]
 [29.6991176471 False 1.0 0.0 0.0]
 [29.0 False 0.0 0.0 1.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [40.0 False 1.0 0.0 0.0]
 [31.0 False 1.0 0.0 0.0]
 [25.0 True 1.0 0.0 0.0]
 [29.6991176471 False 0.0 0.0 1.0]
 [26.0 True 0.0 0.0 1.0]
 [40.0 False 0.0 1.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [7.0 False 0.0 1.0 0.0]
 [24.0 False 1.0 0.0 0.0]
 [14.0 False 0.0 0.0 1.0]
 [23.0 True 0.0 0.0 1.0]
 [19.0 True 0.0 1.0 0.0]
 [35.0 True 0.0 0.0 1.0]
 [0.42 True 0.0 0.0 1.0]
 [18.0 True 0.0 1.0 0.0]
 [22.0 False 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [22.0 False 0.0 0.0 1.0]
 [40.0 False 1.0 0.0 0.0]
 [32.0 True 0.0 0.0 1.0]
 [22.0 False 0.0 0.0 1.0]
 [25.0 False 0.0 1.0 0.0]
 [2.0 False 0.0 0.0 1.0]
 [33.0 True 0.0 0.0 1.0]
 [50.0 False 0.0 1.0 0.0]
 [28.0 True 0.0 0.0 1.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [29.0 True 0.0 0.0 1.0]
 [32.0 True 1.0 0.0 0.0]
 [43.0 True 0.0 0.0 1.0]
 [28.0 True 0.0 1.0 0.0]
 [25.0 True 0.0 1.0 0.0]
 [54.0 True 0.0 1.0 0.0]
 [60.0 True 1.0 0.0 0.0]
 [25.0 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [14.0 True 0.0 0.0 1.0]
 [35.0 False 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [18.0 False 1.0 0.0 0.0]
 [39.0 True 0.0 1.0 0.0]
 [52.0 True 1.0 0.0 0.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [23.0 True 1.0 0.0 0.0]
 [4.0 False 0.0 1.0 0.0]
 [19.0 True 0.0 0.0 1.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [24.0 True 0.0 1.0 0.0]
 [62.0 True 1.0 0.0 0.0]
 [11.0 False 0.0 0.0 1.0]
 [10.0 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [22.0 True 0.0 0.0 1.0]
 [29.0 False 0.0 0.0 1.0]
 [54.0 False 1.0 0.0 0.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [27.0 False 0.0 0.0 1.0]
 [32.0 True 0.0 0.0 1.0]
 [49.0 False 1.0 0.0 0.0]
 [28.0 True 0.0 1.0 0.0]
 [2.0 False 0.0 1.0 0.0]
 [19.0 False 1.0 0.0 0.0]
 [24.0 False 0.0 1.0 0.0]
 [48.0 True 1.0 0.0 0.0]
 [28.0 True 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [24.5 True 0.0 0.0 1.0]
 [30.0 False 0.0 1.0 0.0]
 [19.0 True 1.0 0.0 0.0]
 [40.0 True 1.0 0.0 0.0]
 [34.0 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 1.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [9.0 True 0.0 0.0 1.0]
 [26.0 False 0.0 1.0 0.0]
 [16.0 True 0.0 0.0 1.0]
 [46.0 True 0.0 1.0 0.0]
 [21.0 False 1.0 0.0 0.0]
 [42.0 False 1.0 0.0 0.0]
 [63.0 False 0.0 0.0 1.0]
 [34.0 False 0.0 1.0 0.0]
 [18.0 True 1.0 0.0 0.0]
 [29.6991176471 True 1.0 0.0 0.0]
 [19.0 True 0.0 0.0 1.0]
 [3.0 True 0.0 1.0 0.0]
 [44.0 False 1.0 0.0 0.0]
 [9.0 False 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [24.0 False 0.0 1.0 0.0]
 [16.0 True 0.0 0.0 1.0]
 [60.0 True 1.0 0.0 0.0]
 [27.0 True 1.0 0.0 0.0]
 [14.0 True 0.0 0.0 1.0]
 [54.0 True 0.0 1.0 0.0]
 [19.0 True 0.0 0.0 1.0]
 [18.0 True 0.0 0.0 1.0]
 [29.0 False 0.0 0.0 1.0]
 [35.0 False 0.0 0.0 1.0]
 [28.0 False 0.0 1.0 0.0]
 [41.0 False 0.0 0.0 1.0]
 [25.0 True 0.0 1.0 0.0]
 [29.6991176471 False 0.0 0.0 1.0]
 [48.0 True 0.0 0.0 1.0]
 [22.0 False 1.0 0.0 0.0]
 [32.0 True 0.0 0.0 1.0]
 [29.6991176471 False 0.0 0.0 1.0]
 [36.0 True 1.0 0.0 0.0]
 [28.0 False 0.0 1.0 0.0]
 [24.0 False 0.0 0.0 1.0]
 [18.0 False 1.0 0.0 0.0]
 [40.0 True 0.0 0.0 1.0]
 [45.0 False 0.0 1.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [20.0 True 0.0 0.0 1.0]
 [38.0 True 1.0 0.0 0.0]
 [33.0 True 0.0 0.0 1.0]
 [58.0 True 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [25.0 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 1.0 0.0]
 [51.0 True 0.0 1.0 0.0]
 [21.0 False 0.0 0.0 1.0]
 [21.0 True 0.0 0.0 1.0]
 [25.0 True 0.0 0.0 1.0]
 [20.0 False 0.0 0.0 1.0]
 [64.0 True 1.0 0.0 0.0]
 [21.0 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [40.0 False 0.0 0.0 1.0]
 [44.0 True 0.0 1.0 0.0]
 [23.0 True 0.0 1.0 0.0]
 [28.0 True 0.0 1.0 0.0]
 [33.0 False 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [18.0 False 0.0 0.0 1.0]
 [29.6991176471 False 0.0 1.0 0.0]
 [24.0 False 0.0 0.0 1.0]
 [30.0 True 0.0 1.0 0.0]
 [42.0 False 0.0 1.0 0.0]
 [50.0 False 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [45.0 True 1.0 0.0 0.0]
 [30.0 False 0.0 0.0 1.0]
 [37.0 False 0.0 0.0 1.0]
 [29.0 True 0.0 0.0 1.0]
 [17.0 False 0.0 1.0 0.0]
 [26.0 True 0.0 1.0 0.0]
 [45.0 False 0.0 0.0 1.0]
 [62.0 True 0.0 1.0 0.0]
 [29.6991176471 False 0.0 0.0 1.0]
 [0.75 False 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [20.0 True 0.0 0.0 1.0]
 [54.0 False 1.0 0.0 0.0]
 [33.0 False 0.0 0.0 1.0]
 [15.0 True 0.0 0.0 1.0]
 [25.0 True 0.0 0.0 1.0]
 [51.0 True 0.0 0.0 1.0]
 [22.0 True 0.0 0.0 1.0]
 [24.0 True 0.0 0.0 1.0]
 [17.0 True 0.0 0.0 1.0]
 [51.0 True 0.0 0.0 1.0]
 [38.0 False 1.0 0.0 0.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [13.0 False 0.0 0.0 1.0]
 [29.6991176471 True 0.0 0.0 1.0]
 [31.0 False 1.0 0.0 0.0]
 [23.0 True 0.0 0.0 1.0]
 [19.0 True 0.0 0.0 1.0]]
--- target_train ---
[0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0
 0 1 0 1 0 1 1 0 1 0 0 1 1 0 0 1 1 0 0 0 1 1 1 0 0 1 0 0 1 1 0 0 0 1 0 0 0
 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 0
 1 0 1 1 1 0 0 0 1 0 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 1 1 1 0 0 0
 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 1 1
 0 1 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0
 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 1 1 0 1 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 1 0 1 0
 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0
 1 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 1 1 0 0 0 0 1 1 0
 0 1 0 1 1 0 0 0 0 1 1 0 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1
 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1 1 0
 0 0 0 0 0 0 1 1 1 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 1 1 1 1 0 0 1 0 1 0 0 1 1
 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 1 0 0
 0 1 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 0
 1 0 0 1 1 0 0 0 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0
 1 1 1 0 1 1 0 1 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 0 0
 0 0 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 0 1 0 0 1 0 0 1 0
 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 1 0 0 1 1 1 1 0 0 0 1 0 0 0 1 1 0 1 1 1 0 0
 1 1 1 1 1 1 0 1 0]
--- target_test ---
[0 0 0 1 1 1 1 1 1 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0
 0 0 0 1 0 0 0 1 0 0 1 0 0 1 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 1 0
 1 1 0 1 1 1 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1
 1 0 0 1 0 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0]

####3. Build a KNN model and test the accuracy of the model using kfold cross-validation

In [102]:
from sklearn.neighbors import KNeighborsClassifier

print "-----------------------------------"
model = KNeighborsClassifier(5,weights='uniform').fit(titanic_features, titanic_target)
print 'accuracy for 5 -fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 5, r_state=True)) 

print "-----------------------------------"
model = KNeighborsClassifier(5,weights='uniform').fit(titanic_features, titanic_target)
print 'accuracy for 5 -fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 5, r_state=True)) 

print "-----------------------------------"
model = KNeighborsClassifier(10,weights='uniform').fit(titanic_features, titanic_target)
print 'accuracy for 10-fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 10, r_state=True)) 

print "-----------------------------------"
model = KNeighborsClassifier(20,weights='uniform').fit(titanic_features, titanic_target)
print 'accuracy for 20-fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 20, r_state=True)) 

print "-----------------------------------"
model = KNeighborsClassifier(50).fit(titanic_features, titanic_target)
print 'accuracy for 50-fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 50, r_state=True)) 

print "-----------------------------------"
model = KNeighborsClassifier(100).fit(titanic_features, titanic_target)
print 'accuracy for 100-fold is : ' + str(cross_validate(titanic_features, titanic_target, model, 100, r_state=True))

-----------------------------------
accuracy for 5 -fold is : 0.767704475551
-----------------------------------
accuracy for 5 -fold is : 0.767704475551
-----------------------------------
accuracy for 10-fold is : 0.737403245943
-----------------------------------
accuracy for 20-fold is : 0.718434343434
-----------------------------------
accuracy for 50-fold is : 0.667254901961
-----------------------------------
accuracy for 100-fold is : 0.667083333333

### Bonus: Create a for loop to test different numbers of neighbors

In [109]:
from sklearn.neighbors import KNeighborsClassifier

for a in [3,5,10,15,20,50,100] :
    print "-----------------------------------"
    model = KNeighborsClassifier(a, weights='distance').fit(titanic_features, titanic_target)
    print 'accuracy for K='+str(a)+' for 10-fold is : ' + \
        str(cross_validate(titanic_features, titanic_target, model, 10, r_state=True))

-----------------------------------
accuracy for K=3 for 10-fold is : 0.776654182272
-----------------------------------
accuracy for K=5 for 10-fold is : 0.786766541823
-----------------------------------
accuracy for K=10 for 10-fold is : 0.796878901373
-----------------------------------
accuracy for K=15 for 10-fold is : 0.804731585518
-----------------------------------
accuracy for K=20 for 10-fold is : 0.789001248439
-----------------------------------
accuracy for K=50 for 10-fold is : 0.794606741573
-----------------------------------
accuracy for K=100 for 10-fold is : 0.795730337079

In [111]:
for a in range(1,120,5) :
    print "-----------------------------------"
    print 'accuracy for K='+str(a)+' for 10-fold is : ' + \
        str(cross_validate(titanic_features, titanic_target, KNeighborsClassifier(a, weights='distance'),\
                           10, r_state=True)) 
        #str(cross_validate(titanic_features, titanic_target, KNeighborsClassifier(a, weights='distance'),10,0))

-----------------------------------
accuracy for K=1 for 10-fold is : 0.751922596754
-----------------------------------
accuracy for K=6 for 10-fold is : 0.79013732834
-----------------------------------
accuracy for K=11 for 10-fold is : 0.80024968789
-----------------------------------
accuracy for K=16 for 10-fold is : 0.795742821473
-----------------------------------
accuracy for K=21 for 10-fold is : 0.792372034956
-----------------------------------
accuracy for K=26 for 10-fold is : 0.792372034956
-----------------------------------
accuracy for K=31 for 10-fold is : 0.795730337079
-----------------------------------
accuracy for K=36 for 10-fold is : 0.796853932584
-----------------------------------
accuracy for K=41 for 10-fold is : 0.799101123596
-----------------------------------
accuracy for K=46 for 10-fold is : 0.79797752809
-----------------------------------
accuracy for K=51 for 10-fold is : 0.793495630462
-----------------------------------
accuracy for K=56 for 10-fold is : 0.795742821473
-----------------------------------
accuracy for K=61 for 10-fold is : 0.794619225968
-----------------------------------
accuracy for K=66 for 10-fold is : 0.797990012484
-----------------------------------
accuracy for K=71 for 10-fold is : 0.796866416979
-----------------------------------
accuracy for K=76 for 10-fold is : 0.796866416979
-----------------------------------
accuracy for K=81 for 10-fold is : 0.797990012484
-----------------------------------
accuracy for K=86 for 10-fold is : 0.797990012484
-----------------------------------
accuracy for K=91 for 10-fold is : 0.795742821473
-----------------------------------
accuracy for K=96 for 10-fold is : 0.796853932584
-----------------------------------
accuracy for K=101 for 10-fold is : 0.795730337079
-----------------------------------
accuracy for K=106 for 10-fold is : 0.793483146067
-----------------------------------
accuracy for K=111 for 10-fold is : 0.792359550562
-----------------------------------
accuracy for K=116 for 10-fold is : 0.794606741573

##Data Normalization

Calculate the mean and standard deviation

In [112]:
avg_age = data.Age.mean()
stdev_age = data.Age.std()

Subtract the mean and divide by the standard deviation

In [116]:
data['Age_norm']= (
      data.Age - avg_age)/ stdev_age

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
Unnamed: 0     891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null bool
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
_Pclass_1      891 non-null float64
_Pclass_2      891 non-null float64
_Pclass_3      891 non-null float64
Age_norm       891 non-null float64
dtypes: bool(1), float64(6), int64(6), object(4)
memory usage: 112.3+ KB

Create new features using normalized data

In [117]:
features_norm = data [['Age_norm','Sex','_Pclass_1','_Pclass_2','_Pclass_3']].values

Test KNN on normalized data

In [119]:
for k in range(1,10):
    model=KNeighborsClassifier(k)
    print cross_validate(features_norm,titanic_target,model,10,0)

0.762059925094
0.797952559301
0.790149812734
0.80138576779
0.796903870162
0.801360799001
0.802496878901
0.80024968789
0.799138576779

##Random Forest

Import the Random Forest function

In [120]:
from sklearn.ensemble import RandomForestClassifier

Create an instance of a random forest classifier.  Random state is used to set random number generator for reproducible results

In [121]:
model = RandomForestClassifier(random_state=0)

Run the cross-validation function using the Random Forest algorithm

In [123]:
for a in range(1,120,10) :
    print "-----------------------------------"
    print 'accuracy for K='+str(a)+' for 10-fold is : ' + \
        str(cross_validate(titanic_features, titanic_target, model,10, r_state=True)) 
        #str(cross_validate(titanic_features, titanic_target, KNeighborsClassifier(a, weights='distance'),10,0))

-----------------------------------
accuracy for K=1 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=11 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=21 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=31 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=41 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=51 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=61 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=71 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=81 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=91 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=101 for 10-fold is : 0.810312109863
-----------------------------------
accuracy for K=111 for 10-fold is : 0.810312109863

Investigate feature importances

In [124]:
print model.fit(titanic_features, titanic_target).feature_importances_

[ 0.4359133   0.40366222  0.05078753  0.02608483  0.08355212]

## Exercise

- Implement the random forest algorithm on the titanic data
- Review the random forest algorithm model parameters on sklearn 
- Adjust parameters to get the best model performance

### Make a Prediction for Kaggle

Train the model using the best data available (in the case of the Titanic you'd use all the data)

In [144]:
model = KNeighborsClassifier(5, weights='distance').fit(features_train, target_train)

Create a DataFrame with the test.csv data

In [220]:
df7 = pd.read_csv('test.csv')
df7.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [221]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [222]:
type(df7)

pandas.core.frame.DataFrame

In [223]:
df7.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,418.0,1100.500000,120.810458,892.00,996.25,1100.5,1204.75,1309.0000
Pclass,418.0,2.265550,0.841838,1.00,1.00,3.0,3.00,3.0000
Age,332.0,30.272590,14.181209,0.17,NaN,NaN,NaN,76.0000
SibSp,418.0,0.447368,0.896760,0.00,0.00,0.0,1.00,8.0000
Parch,418.0,0.392344,0.981429,0.00,0.00,0.0,0.00,9.0000
Fare,417.0,35.627188,55.907576,0.00,NaN,NaN,NaN,512.3292

Clean text and missing values

In [224]:
df7.Sex.replace(['male','female'],[True,False],inplace=True)

In [225]:
avg_Age = df7.Age.mean()
print avg_Age

30.2725903614

In [228]:
df7.Age.fillna(avg_Age, inplace=True)

In [231]:
#df7_ = df7.dropna(subset=['Sex','Age','Pclass'])
df7.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,418.0,1100.500000,120.810458,892.00,996.25,1100.50000,1204.75,1309.0000
Pclass,418.0,2.265550,0.841838,1.00,1.00,3.00000,3.00,3.0000
Age,418.0,30.272590,12.634534,0.17,23.00,30.27259,35.75,76.0000
SibSp,418.0,0.447368,0.896760,0.00,0.00,0.00000,1.00,8.0000
Parch,418.0,0.392344,0.981429,0.00,0.00,0.00000,0.00,9.0000
Fare,417.0,35.627188,55.907576,0.00,NaN,NaN,NaN,512.3292

In [232]:
df7.Sex.value_counts()

True     266
False    152
Name: Sex, dtype: int64

In [233]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null bool
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 33.1+ KB

In [234]:
df7.Pclass.value_counts()

3    218
1    107
2     93
Name: Pclass, dtype: int64

Convert Pclass to dummies and merge to data

In [235]:
df7_1 = pd.get_dummies(df7.Pclass, prefix='_Pclass')
df7_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 3 columns):
_Pclass_1    418 non-null float64
_Pclass_2    418 non-null float64
_Pclass_3    418 non-null float64
dtypes: float64(3)
memory usage: 9.9 KB

In [236]:
df = pd.merge(df7, df7_1, left_index=True, right_index=True)
df.info()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null bool
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
_Pclass_1      418 non-null float64
_Pclass_2      418 non-null float64
_Pclass_3      418 non-null float64
dtypes: bool(1), float64(5), int64(4), object(4)
memory usage: 42.9+ KB

,count,mean,std,min,25%,50%,75%,max
PassengerId,418.0,1100.500000,120.810458,892.00,996.25,1100.50000,1204.75,1309.0000
Pclass,418.0,2.265550,0.841838,1.00,1.00,3.00000,3.00,3.0000
Age,418.0,30.272590,12.634534,0.17,23.00,30.27259,35.75,76.0000
SibSp,418.0,0.447368,0.896760,0.00,0.00,0.00000,1.00,8.0000
Parch,418.0,0.392344,0.981429,0.00,0.00,0.00000,0.00,9.0000
Fare,417.0,35.627188,55.907576,0.00,NaN,NaN,NaN,512.3292
_Pclass_1,418.0,0.255981,0.436934,0.00,0.00,0.00000,1.00,1.0000
_Pclass_2,418.0,0.222488,0.416416,0.00,0.00,0.00000,0.00,1.0000
_Pclass_3,418.0,0.521531,0.500135,0.00,0.00,1.00000,1.00,1.0000

Select features from test data and convert to numpy array

In [237]:
titanic_features2 = df[['Age', 'Sex',  '_Pclass_1', '_Pclass_2','_Pclass_3']].values

#titanic_target2 = data.Survived.values
titanic_features2

array([[34.5, True, 0.0, 0.0, 1.0],
       [47.0, False, 0.0, 0.0, 1.0],
       [62.0, True, 0.0, 1.0, 0.0],
       ...,
       [38.5, True, 0.0, 0.0, 1.0],
       [30.272590361445783, True, 0.0, 0.0, 1.0],
       [30.272590361445783, True, 0.0, 0.0, 1.0]], dtype=object)

In [179]:
#print model.predict(features_test)
features_test #previous example !!

array([[29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [7.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, False, 1.0, 0.0, 0.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [40.0, False, 1.0, 0.0, 0.0],
       [31.0, False, 1.0, 0.0, 0.0],
       [25.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [26.0, True, 0.0, 0.0, 1.0],
       [40.0, False, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [7.0, False, 0.0, 1.0, 0.0],
       [24.0, False, 1.0, 0.0, 0.0],
       [14.0, False, 0.0, 0.0, 1.0],
       [23.0, True, 0.0, 0.0, 1.0],
       [19.0, True, 0.0, 1.0, 0.0],
       [35.0, True, 0.0, 0.0, 1.0],
       [0.42, True, 0.0, 0.0, 1.0],
       [18.0, True, 0.0, 1.0, 0.0],
       [22.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [22.0, False, 0.0, 0.0, 1.0],
       [40.0, False, 1.0, 0.0, 0.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [22.0, False, 0.0, 0.0, 1.0],
       [25.0, False, 0.0, 1.0, 0.0],
       [2.0, False, 0.0, 0.0, 1.0],
       [33.0, True, 0.0, 0.0, 1.0],
       [50.0, False, 0.0, 1.0, 0.0],
       [28.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [29.0, True, 0.0, 0.0, 1.0],
       [32.0, True, 1.0, 0.0, 0.0],
       [43.0, True, 0.0, 0.0, 1.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [25.0, True, 0.0, 1.0, 0.0],
       [54.0, True, 0.0, 1.0, 0.0],
       [60.0, True, 1.0, 0.0, 0.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [14.0, True, 0.0, 0.0, 1.0],
       [35.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [18.0, False, 1.0, 0.0, 0.0],
       [39.0, True, 0.0, 1.0, 0.0],
       [52.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [23.0, True, 1.0, 0.0, 0.0],
       [4.0, False, 0.0, 1.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [24.0, True, 0.0, 1.0, 0.0],
       [62.0, True, 1.0, 0.0, 0.0],
       [11.0, False, 0.0, 0.0, 1.0],
       [10.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [22.0, True, 0.0, 0.0, 1.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [54.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [27.0, False, 0.0, 0.0, 1.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [49.0, False, 1.0, 0.0, 0.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [2.0, False, 0.0, 1.0, 0.0],
       [19.0, False, 1.0, 0.0, 0.0],
       [24.0, False, 0.0, 1.0, 0.0],
       [48.0, True, 1.0, 0.0, 0.0],
       [28.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [24.5, True, 0.0, 0.0, 1.0],
       [30.0, False, 0.0, 1.0, 0.0],
       [19.0, True, 1.0, 0.0, 0.0],
       [40.0, True, 1.0, 0.0, 0.0],
       [34.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [9.0, True, 0.0, 0.0, 1.0],
       [26.0, False, 0.0, 1.0, 0.0],
       [16.0, True, 0.0, 0.0, 1.0],
       [46.0, True, 0.0, 1.0, 0.0],
       [21.0, False, 1.0, 0.0, 0.0],
       [42.0, False, 1.0, 0.0, 0.0],
       [63.0, False, 0.0, 0.0, 1.0],
       [34.0, False, 0.0, 1.0, 0.0],
       [18.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 1.0, 0.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [3.0, True, 0.0, 1.0, 0.0],
       [44.0, False, 1.0, 0.0, 0.0],
       [9.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [24.0, False, 0.0, 1.0, 0.0],
       [16.0, True, 0.0, 0.0, 1.0],
       [60.0, True, 1.0, 0.0, 0.0],
       [27.0, True, 1.0, 0.0, 0.0],
       [14.0, True, 0.0, 0.0, 1.0],
       [54.0, True, 0.0, 1.0, 0.0],
       [19.0, True, 0.0, 0.0, 1.0],
       [18.0, True, 0.0, 0.0, 1.0],
       [29.0, False, 0.0, 0.0, 1.0],
       [35.0, False, 0.0, 0.0, 1.0],
       [28.0, False, 0.0, 1.0, 0.0],
       [41.0, False, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 1.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [48.0, True, 0.0, 0.0, 1.0],
       [22.0, False, 1.0, 0.0, 0.0],
       [32.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [36.0, True, 1.0, 0.0, 0.0],
       [28.0, False, 0.0, 1.0, 0.0],
       [24.0, False, 0.0, 0.0, 1.0],
       [18.0, False, 1.0, 0.0, 0.0],
       [40.0, True, 0.0, 0.0, 1.0],
       [45.0, False, 0.0, 1.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [20.0, True, 0.0, 0.0, 1.0],
       [38.0, True, 1.0, 0.0, 0.0],
       [33.0, True, 0.0, 0.0, 1.0],
       [58.0, True, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 1.0, 0.0],
       [51.0, True, 0.0, 1.0, 0.0],
       [21.0, False, 0.0, 0.0, 1.0],
       [21.0, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [20.0, False, 0.0, 0.0, 1.0],
       [64.0, True, 1.0, 0.0, 0.0],
       [21.0, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [40.0, False, 0.0, 0.0, 1.0],
       [44.0, True, 0.0, 1.0, 0.0],
       [23.0, True, 0.0, 1.0, 0.0],
       [28.0, True, 0.0, 1.0, 0.0],
       [33.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [18.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, False, 0.0, 1.0, 0.0],
       [24.0, False, 0.0, 0.0, 1.0],
       [30.0, True, 0.0, 1.0, 0.0],
       [42.0, False, 0.0, 1.0, 0.0],
       [50.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [45.0, True, 1.0, 0.0, 0.0],
       [30.0, False, 0.0, 0.0, 1.0],
       [37.0, False, 0.0, 0.0, 1.0],
       [29.0, True, 0.0, 0.0, 1.0],
       [17.0, False, 0.0, 1.0, 0.0],
       [26.0, True, 0.0, 1.0, 0.0],
       [45.0, False, 0.0, 0.0, 1.0],
       [62.0, True, 0.0, 1.0, 0.0],
       [29.6991176471, False, 0.0, 0.0, 1.0],
       [0.75, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [20.0, True, 0.0, 0.0, 1.0],
       [54.0, False, 1.0, 0.0, 0.0],
       [33.0, False, 0.0, 0.0, 1.0],
       [15.0, True, 0.0, 0.0, 1.0],
       [25.0, True, 0.0, 0.0, 1.0],
       [51.0, True, 0.0, 0.0, 1.0],
       [22.0, True, 0.0, 0.0, 1.0],
       [24.0, True, 0.0, 0.0, 1.0],
       [17.0, True, 0.0, 0.0, 1.0],
       [51.0, True, 0.0, 0.0, 1.0],
       [38.0, False, 1.0, 0.0, 0.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [13.0, False, 0.0, 0.0, 1.0],
       [29.6991176471, True, 0.0, 0.0, 1.0],
       [31.0, False, 1.0, 0.0, 0.0],
       [23.0, True, 0.0, 0.0, 1.0],
       [19.0, True, 0.0, 0.0, 1.0]], dtype=object)

Create predictions

In [238]:
#model.predict(titanic_features2)
my_prediction = model.predict(titanic_features2)
my_prediction

array([0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0])

Add Predictions as new column in DataFrame

In [239]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,_Pclass_1,_Pclass_2,_Pclass_3
0,892,3,"Kelly, Mr. James",True,34.50000,0,0,330911,7.8292,NaN,Q,0.0,0.0,1.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",False,47.00000,1,0,363272,7.0000,NaN,S,0.0,0.0,1.0
2,894,2,"Myles, Mr. Thomas Francis",True,62.00000,0,0,240276,9.6875,NaN,Q,0.0,1.0,0.0
3,895,3,"Wirz, Mr. Albert",True,27.00000,0,0,315154,8.6625,NaN,S,0.0,0.0,1.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",False,22.00000,1,1,3101298,12.2875,NaN,S,0.0,0.0,1.0
5,897,3,"Svensson, Mr. Johan Cervin",True,14.00000,0,0,7538,9.2250,NaN,S,0.0,0.0,1.0
6,898,3,"Connolly, Miss. Kate",False,30.00000,0,0,330972,7.6292,NaN,Q,0.0,0.0,1.0
7,899,2,"Caldwell, Mr. Albert Francis",True,26.00000,1,1,248738,29.0000,NaN,S,0.0,1.0,0.0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",False,18.00000,0,0,2657,7.2292,NaN,C,0.0,0.0,1.0
9,901,3,"Davies, Mr. John Samuel",True,21.00000,2,0,A/4 48871,24.1500,NaN,S,0.0,0.0,1.0
10,902,3,"Ilieff, Mr. Ylio",True,30.27259,0,0,349220,7.8958,NaN,S,0.0,0.0,1.0
11,903,1,"Jones, Mr. Charles Cresson",True,46.00000,0,0,694,26.0000,NaN,S,1.0,0.0,0.0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",False,23.00000,1,0,21228,82.2667,B45,S,1.0,0.0,0.0
13,905,2,"Howard, Mr. Benjamin",True,63.00000,1,0,24065,26.0000,NaN,S,0.0,1.0,0.0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",False,47.00000,1,0,W.E.P. 5734,61.1750,E31,S,1.0,0.0,0.0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",False,24.00000,1,0,SC/PARIS 2167,27.7208,NaN,C,0.0,1.0,0.0
16,908,2,"Keane, Mr. Daniel",True,35.00000,0,0,233734,12.3500,NaN,Q,0.0,1.0,0.0
17,909,3,"Assaf, Mr. Gerios",True,21.00000,0,0,2692,7.2250,NaN,C,0.0,0.0,1.0
18,910,3,"Ilmakangas, Miss. Ida Livija",False,27.00000,1,0,STON/O2. 3101270,7.9250,NaN,S,0.0,0.0,1.0
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",False,45.00000,0,0,2696,7.2250,NaN,C,0.0,0.0,1.0
20,912,1,"Rothschild, Mr. Martin",True,55.00000,1,0,PC 17603,59.4000,NaN,C,1.0,0.0,0.0
21,913,3,"Olsen, Master. Artur Karl",True,9.00000,0,1,C 17368,3.1708,NaN,S,0.0,0.0,1.0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",False,30.27259,0,0,PC 17598,31.6833,NaN,S,1.0,0.0,0.0
23,915,1,"Williams, Mr. Richard Norris II",True,21.00000,0,1,PC 17597,61.3792,NaN,C,1.0,0.0,0.0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",False,48.00000,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,1.0,0.0,0.0
25,917,3,"Robins, Mr. Alexander A",True,50.00000,1,0,A/5. 3337,14.5000,NaN,S,0.0,0.0,1.0
26,918,1,"Ostby, Miss. Helene Ragnhild",False,22.00000,0,1,113509,61.9792,B36,C,1.0,0.0,0.0
27,919,3,"Daher, Mr. Shedid",True,22.50000,0,0,2698,7.2250,NaN,C,0.0,0.0,1.0
28,920,1,"Brady, Mr. John Bertram",True,41.00000,0,0,113054,30.5000,A21,S,1.0,0.0,0.0
29,921,3,"Samaan, Mr. Elias",True,30.27259,2,0,2662,21.6792,NaN,C,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",True,21.00000,0,0,364858,7.7500,NaN,Q,0.0,0.0,1.0
389,1281,3,"Palsson, Master. Paul Folke",True,6.00000,3,1,349909,21.0750,NaN,S,0.0,0.0,1.0
390,1282,1,"Payne, Mr. Vivian Ponsonby",True,23.00000,0,0,12749,93.5000,B24,S,1.0,0.0,0.0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",False,51.00000,0,1,PC 17592,39.4000,D28,S,1.0,0.0,0.0
392,1284,3,"Abbott, Master. Eugene Joseph",True,13.00000,0,2,C.A. 2673,20.2500,NaN,S,0.0,0.0,1.0
393,1285,2,"Gilbert, Mr. William",True,47.00000,0,0,C.A. 30769,10.5000,NaN,S,0.0,1.0,0.0
394,1286,3,"Kink-Heilmann, Mr. Anton",True,29.00000,3,1,315153,22.0250,NaN,S,0.0,0.0,1.0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",False,18.00000,1,0,13695,60.0000,C31,S,1.0,0.0,0.0
396,1288,3,"Colbert, Mr. Patrick",True,24.00000,0,0,371109,7.2500,NaN,Q,0.0,0.0,1.0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",False,48.00000,1,1,13567,79.2000,B41,C,1.0,0.0,0.0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",True,22.00000,0,0,347065,7.7750,NaN,S,0.0,0.0,1.0
399,1291,3,"Conlon, Mr. Thomas Henry",True,31.00000,0,0,21332,7.7333,NaN,Q,0.0,0.0,1.0
400,1292,1,"Bonnell, Miss. Caroline",False,30.00000,0,0,36928,164.8667,C7,S,1.0,0.0,0.0
401,1293,2,"Gale, Mr. Harry",True,38.00000,1,0,28664,21.0000,NaN,S,0.0,1.0,0.0
402,1294,1,"Gibson, Miss. Dorothy Winifred",False,22.00000,0,1,112378,59.4000,NaN,C,1.0,0.0,0.0
403,1295,1,"Carrau, Mr. Jose Pedro",True,17.00000,0,0,113059,47.1000,NaN,S,1.0,0.0,0.0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",True,43.00000,1,0,17765,27.7208,D40,C,1.0,0.0,0.0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",True,20.00000,0,0,SC/PARIS 2166,13.8625,D38,C,0.0,1.0,0.0
406,1298,2,"Ware, Mr. William Jeffery",True,23.00000,1,0,28666,10.5000,NaN,S,0.0,1.0,0.0
407,1299,1,"Widener, Mr. George Dunton",True,50.00000,1,1,113503,211.5000,C80,C,1.0,0.0,0.0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",False,30.27259,0,0,334915,7.7208,NaN,Q,0.0,0.0,1.0
409,1301,3,"Peacock, Miss. Treasteall",False,3.00000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,0.0,0.0,1.0
410,1302,3,"Naughton, Miss. Hannah",False,30.27259,0,0,365237,7.7500,NaN,Q,0.0,0.0,1.0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",False,37.00000,1,0,19928,90.0000,C78,Q,1.0,0.0,0.0
412,1304,3,"Henriksson, Miss. Jenny Lovisa",False,28.00000,0,0,347086,7.7750,NaN,S,0.0,0.0,1.0
413,1305,3,"Spector, Mr. Woolf",True,30.27259,0,0,A.5. 3236,8.0500,NaN,S,0.0,0.0,1.0
414,1306,1,"Oliva y Ocana, Dona. Fermina",False,39.00000,0,0,PC 17758,108.9000,C105,C,1.0,0.0,0.0
415,1307,3,"Saether, Mr. Simon Sivertsen",True,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0.0,0.0,1.0
416,1308,3,"Ware, Mr. Frederick",True,30.27259,0,0,359309,8.0500,NaN,S,0.0,0.0,1.0
417,1309,3,"Peter, Master. Michael J",True,30.27259,1,1,2668,22.3583,NaN,C,0.0,0.0,1.0

In [240]:
dfp = pd.DataFrame(my_prediction)
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
0    418 non-null int64
dtypes: int64(1)
memory usage: 3.3 KB

In [241]:
dfp.describe().T

   count      mean       std  min  25%  50%  75%  max
0  418.0  0.308612  0.462474  0.0  0.0  0.0  1.0  1.0

In [242]:
df_ok = pd.merge(df, dfp, left_index=True, right_index=True)
df_ok.head()
df_ok.rename(columns={0:'Survived'},inplace=True)
df_ok.describe().T
df_ok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 15 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null bool
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
_Pclass_1      418 non-null float64
_Pclass_2      418 non-null float64
_Pclass_3      418 non-null float64
Survived       418 non-null int64
dtypes: bool(1), float64(5), int64(5), object(4)
memory usage: 46.2+ KB

In [254]:
df_ok['Survived'].value_counts()

0    289
1    129
Name: Survived, dtype: int64

Save as CSV (make sure you set index=False)

Save as CSV (make sure you set index=False)

In [260]:
df_final = df_ok[['PassengerId','Survived']]

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

In [261]:
df_final.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,418.0,1100.500000,120.810458,892.0,996.25,1100.5,1204.75,1309.0
Survived,418.0,0.308612,0.462474,0.0,0.00,0.0,1.00,1.0

In [264]:
df_final.to_csv('prediction_result.csv', header=True, index=False)

In [265]:
my_result = pd.read_csv('prediction_result.csv')
my_result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         1