  # Python for Data Science Bootcamp
  ## Introduction to Pandas

Import the pandas package

In [3]:
import pandas as pd

Create a simple DataFrame

In [4]:
df = pd.DataFrame( {'name':['Bob','Jen','Tim'],
                     'age':[20,30,40],
                     'pet':['cat','dog','bird']
                   })
print df

   age name   pet
0   20  Bob   cat
1   30  Jen   dog
2   40  Tim  bird

View the column names and index values

In [5]:
print df.columns
print df.index

Index([u'age', u'name', u'pet'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

Select a column by name in 2 different ways

Select multiple columns

Select a row by index

Sort the data by pet

View the index after the sort

Difference between ix and iloc

Use iloc to select all rows of a column

Use iloc to select the last row

### Exercises

In [16]:
sales = [100,130,119,92,35]
customer_account = ['B100','J101','X102','P103','R104']
city = ['BOS','LA','NYC','SF','CHI']

Create a DataFrame with the data above

What is the name of the first column?

Sort the DataFrame by city in descending order (check the documentation for sort)

Which customer is in the last row of the DataFrame?

#### Bonus

Reorder the columns with customer in the first column

Change the name of a column

## Importing and Exporting Data with Pandas

#### Reading and Writing CSV Files

Open the test_pandas.csv file as a dataframe

Write the data to a csv file without the headers

Open the test_pandas_no_header.csv file

Try opening the file with header set to None

#### Reading and writing Excel files

Reading Excel files is similar.  Just add worksheet you want to read.

For writing to an Excel file, you need to use a writer object.  This enables you to save multiple dataframes as separate sheets in the same file.  File doesn't get created until you save.

#### Reading and writing SQL

To read and write to SQL you need to establish a connection to a database.  Each type of database is different, so you'll have to do some research to find the exact code for your version of SQL.  Here is an example for sqlite.

Use the connection for importing a query as a DataFrame

Create new DataFrame to load into SQL Database

In [0]:
new_data = pd.DataFrame({'id':[6,7], 'city':['Philadelphia', 'Miami'],'mascot':['Eagles','Dolphins']})
new_data = new_data[['id','city','mascot']]
print new_data

Create new table in SQL

Append to existing table in SQL.  Ensure that column names need to match the names in the data table to which you're loading the information

Don't forget to close connection

## Exploring Titanic Data Set with Pandas

Import the pandas package

Load the train.csv file as a DataFrame

Investigate the first few rows of data

Investigate the last 10 rows of data

Investigate the data types in the DataFrame

Get some summary statistics

Filter the data for men

Filter the ages for the men

How many men and women were on the Titanic?

What was the survival rate for adult men (age>=18)

What was the survival rate for women and children?

Use groupby to compare the survival rates of men and women

Create a DataFrame with groupby and view the index

Index([u'female', u'male'], dtype='object')

Reset the index

View again

## Exercises

What was the average age of the survivors?

What was the combined survival rate of both children (age less than 18) and seniors (age greater than 60)?

Group by Pclass and investigate average survival rate, age and fare

Create an Excel file with the names and ages of the surivors on one tab and the names and ages of the deceased in another tab

Create a csv file with the count of passengers by Pclass

Explore the data and discover an interesting insight